---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Minnesota Business Network">
<div class="mpls-legacy">
<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/legacy/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>
<center>
  <p><font color="#999999" face="Geneva, Arial, Helvetica, sans-serif" size="1">&lt; 
    A D V E R T I S E M E N T &gt;</font><font color="#999999" face="Verdana, Arial, Helvetica, sans-serif" size="1"><br>
    <a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mpls.com/"><img src="/img/heinad.gif" align="BOTTOM" width="468" height="60" border="0"></a> 
    </font><br>
    <a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mpls.com/" target="_blank"><font face="Geneva, Arial, Helvetica, sans-serif" size="1" color="#999999">HEINRICH 
    &amp; HEINRICH</font></a></p>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar"> 
  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="5">M I N N E A P 
    O L I S    B U S I N E S S    N E T W O R K</font></p>
  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/legacy/bizads/"><font color="#660000">Click 
    to add your website to the Minneapolis Business Network</font></a></font></p>
  <table width="600" border="1" cellpadding="10">
    <tr> 
      <td width="116"> 
        <center>
          <a href="https://web.archive.org/web/20001030182442/http://www.carrouseltravel.com/" target="_blank"><font face="Verdana, Arial, Helvetica, sans-serif">Carrousel 
          Travel</font></a>
        </center>
      </td>
      <td width="433"> 
        <p><a href="https://web.archive.org/web/20001030182442/http://www.carrouseltravel.com/" target="_blank"><img src="/img/ctbanner.gif" width="468" height="60" border="0"></a></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Full service 
          Minneapolis travel agency specializing in leisure, tour and group travel. 
          Carrousel is an American Express Travel Services Representative.</font></p>
      </td>
    </tr>
    <tr> 
      <td width="116">
        <center>
          <font face="Verdana, Arial, Helvetica, sans-serif"><a href="https://web.archive.org/web/20001030182442/http://www.craftedclassics.com/" target="_blank">Crafted 
          Classics </a></font>
        </center>
      </td>
      <td width="433"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">America's 
          finest collection of custom-designed golf putters for office, home and 
          golf course. Product line includes executive sets featuring distinctive 
          Dymondwood and brass handmade balanced putters.</font></p>
      </td>
    </tr>
    <tr> 
      <td width="116">
        <center>
          <font face="Verdana, Arial, Helvetica, sans-serif"><a href="https://web.archive.org/web/20001030182442/http://www.digital.mpls.com/" target="_blank">Digital 
          Concepts</a></font>
        </center>
      </td>
      <td width="433"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Digital 
          Concepts is a full-service communications company, providing writing, 
          design and production for print, web or corporate communications programs. 
          </font></p>
      </td>
    </tr>
    <tr> 
      <td width="116">
        <center>
          <a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mpls.com/" target="_blank"><font face="Verdana, Arial, Helvetica, sans-serif">Heinrich 
          Photography</font></a>
        </center>
      </td>
      <td width="433"> 
        <p><a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mpls.com/" target="_blank"><img src="/img/heinrich.gif" width="468" height="60" border="0"></a></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Consider 
          Heinrich Photography when you have a need for spectacular photography 
          in your next presentation, brochure or company advertisement.</font></p>
      </td>
    </tr>
  </table>
  <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/legacy/bizads/"><font color="#660000">Click 
    to add your website to the Minneapolis Business Network</font></a></font></p>
  <center>
    <p><font size="-1" face="Verdana,Helvetica,Arial"><a href="/legacy/"><img src="/img/mpls.gif" alt="mpls.com" align="MIDDLE" width="95" height="18" border="0"></a><a href="/legacy/order/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2"><br>
      ADVERTISE </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/legacy/business/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">BUSINESS 
      </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/legacy/cool/">COOL SPOTS</a> | <a href="/legacy/exposure/">NORTHERN EXPOSURE</a> | <a href="/legacy/kid/">KIDS</a> 
      | <a href="/legacy/media/">MEDIA</a> | <a href="/legacy/news/">NEWS 
      </a> | <a href="/legacy/politics/">POLITICS</a> | <a href="/legacy/sports/">SPORTS</a> 
      | <a href="/legacy/weather/">WEATHER</a> | <a href="/legacy/search/">SEARCH FARM</a></font> </p>
  </center>
  <center>
    <hr width="468">
    <font size="-2" face="Geneva, Arial, Helvetica, sans-serif">WEBSITE DESIGNED 
    &amp; MAINTAINED BY <a href="https://web.archive.org/web/20001030182442/http://www.digital.mpls.com/">DIGITAL CONCEPTS,</a> 
    MINNEAPOLIS, MINNESOTA </font><font face="Verdana,Futura,Helvetica,Arial"> 
    <hr width="468">
    </font><font size="-2" face="Geneva, Arial, Helvetica, sans-serif">The contents 
    of this website are   Copyright 1997-2000 DIGITAL CONCEPTS. All rights 
    reserved.<br>
    </font>
  </center>
  <p> </p>
  <p> </p>
  <p> </p>
  <p>  </p>
</center>

<center>
</center>

<br>

<center>
</center>


<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/legacy/search/">
  <area shape="rect" coords="498,0,552,19" href="/legacy/weather/">
  <area shape="rect" coords="450,0,495,19" href="/legacy/sports/">
  <area shape="rect" coords="397,0,448,19" href="/legacy/politics/">
  <area shape="rect" coords="358,0,392,19" href="/legacy/news/">
  <area shape="rect" coords="316,0,354,19" href="/legacy/media/">
  <area shape="rect" coords="281,0,312,19" href="/legacy/kid/">
  <area shape="rect" coords="220,0,278,19" href="/legacy/exposure/">
  <area shape="rect" coords="151,0,218,19" href="/legacy/cool/">
  <area shape="rect" coords="92,0,148,19" href="/legacy/business/">
  <area shape="rect" coords="0,0,90,19" href="/legacy/">

  <area shape="default" href="/legacy/">
</map>
</div>
</LegacyLayout>

















