---
// @ts-nocheck
import LegacyLayout from "../../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">

<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>

<center>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
</center>
<center>
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</center>



 
<center>
  <table width="550" border="0" cellpadding="15">
    <tr> 
      <td width="178">
        <p><img src="/img/boat.gif" width="300" height="150"></p>
        <p><img src="/img/bouy.jpg" width="300" height="198"></p>
        <p><img src="/img/pfd.jpg" width="300" height="248"></p>
      </td>
      <td width="306"> 
        <p align="center"><img src="/img/jacket.gif" width="75" height="108"></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><font size="2">How 
          can you be safe while you're boating?</font></b></font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> Wear a 
          P.F.D. (Personal Flotation Device, sometimes called a life jacket) even 
          if you have been on a boat before and can swim.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> Plan ahead 
          and check the weather forecast for the weather when you go boating or 
          go on a boating trip for the weekend or just a ride. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">You have 
          to be 16 years or older to drive a boat. To drive a boat you also have 
          to take a mail-in test that you mail in when you're done taking the 
          test. Then you're approved to drive a boat. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">It's against 
          the law if you pass a buoy if you don't read or obey the buoy. It is 
          against the law to drive a boat in a swimming area with a sign that 
          says "KEEP OUT... SWIMMING AREA".</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">It's against 
          the law to drive a boat loaded with too many people. You can not drive 
          irresponsibly. You need to sit in the boat area and not lean over the 
          edge.</font> </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        </td>
    </tr>
  </table>
  
</center>

<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/" target="_top">
  <area shape="default" href="/">
</map>
</div>
</LegacyLayout>














