---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">
<LegacyHeader />



<div class="kid-titlebar">
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
</div>
<div class="kid-nav">
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</div>




<div class="kid-content-container">
  <table width="550" border="0" cellpadding="0">
    <tr> 
      <td width="178"><img src="/img/denny.jpg" width="275" height="373"></td>
      <td width="306"> 
        <p align="center"><img src="/img/card.gif" width="275" height="371"></p>
        <p>&nbsp;</p>
        </td>
    </tr>
  </table>

</div>

<LegacyFooter />

<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/" target="_top">
  <area shape="default" href="/">
</map>
</div>
</LegacyLayout>














