---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</div>




<div class="kid-content-container">
  <table width="550" border="0" cellpadding="0">
    <tr> 
      <td width="178"><img src="/img/denny.jpg" width="275" height="373"></td>
      <td width="306"> 
        <p align="center"><img src="/img/card.gif" width="275" height="371"></p>
        <p>&nbsp;</p>
        </td>
    </tr>
  </table>

</div>

<LegacyFooter />
</div>
</LegacyLayout>














