---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Kaija's Water Safety Research HomePage"
  description="Ranger Hansen profile from Kaija's Water Safety project."
>
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></span>
</div>




<div class="kid-content-container">
  <table class="legacy-width-550 legacy-border-0 legacy-cellpadding-0">
    <tr> 
      <td class="legacy-width-178"><img src="/img/denny.jpg" class="legacy-width-275 legacy-height-373"></td>
      <td class="legacy-width-306"> 
        <p class="legacy-align-center"><img src="/img/card.gif" class="legacy-width-275 legacy-height-371"></p>
        <p>&nbsp;</p>
        </td>
    </tr>
  </table>

</div>

<LegacyFooter />
</div>
</LegacyLayout>















