---
// @ts-nocheck
import LegacyLayout from "../../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">

<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>

<center>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
</center>
<center>
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</center>



 
<center>
  <table width="550" border="0" cellpadding="15">
    <tr> 
      <td width="178"><img src="/img/hypo.jpg" width="300" height="197"></td>
      <td width="306"> 
        <p align="center">&nbsp;</p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><font size="2">How 
          do you get hypothermia? </font></b></font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">During 
          Hypothermia your blood temperature drops to 95 to 82 degrees Fahrenheit. 
          </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">When you 
          have Hypothermia, your body slows down and your body doesn't need much 
          oxygen. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">During 
          Hypothermia your blood circulation can be stopped for a hour or longer 
          than that. You can get hypothermia from being outside in bone chilling 
          weather or water for a long time. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">If you 
          have hypothermia what is best to do is take off all your wet clothes 
          and wrap up in lots of blankets, slowly by layers. Put the blankets 
          on but not too fast. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">You usually 
          get Hypothermia from cold water sometimes from cold air. </font> </p>
        <p>&nbsp;</p>
      </td>
    </tr>
  </table>
  
</center>

<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/" target="_top">
  <area shape="default" href="/">
</map>
</div>
</LegacyLayout>














