---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Kaija's Water Safety Research HomePage"
  description="Hypothermia facts and prevention from Kaija's Water Safety project."
>
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></span>
</div>




<div class="kid-content-container">
  <table class="legacy-width-550 legacy-border-0 legacy-cellpadding-15">
    <tr> 
      <td class="legacy-width-178"><img src="/img/hypo.jpg" class="legacy-width-300 legacy-height-197"></td>
      <td class="legacy-width-306"> 
        <p class="legacy-align-center">&nbsp;</p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><b><span class="legacy-font legacy-font--size-2">How 
          do you get hypothermia? </span></b></span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">During 
          Hypothermia your blood temperature drops to 95 to 82 degrees Fahrenheit. 
          </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">When you 
          have Hypothermia, your body slows down and your body doesn't need much 
          oxygen. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">During 
          Hypothermia your blood circulation can be stopped for a hour or longer 
          than that. You can get hypothermia from being outside in bone chilling 
          weather or water for a long time. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">If you 
          have hypothermia what is best to do is take off all your wet clothes 
          and wrap up in lots of blankets, slowly by layers. Put the blankets 
          on but not too fast. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">You usually 
          get Hypothermia from cold water sometimes from cold air. </span> </p>
        <p>&nbsp;</p>
      </td>
    </tr>
  </table>

</div>

<LegacyFooter />
</div>
</LegacyLayout>

















