---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Kaija's Water Safety Research HomePage"
  description="Ice safety tips from Kaija's Water Safety project."
>
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></span>
</div>




<div class="kid-content-container">
  <table class="legacy-width-550 legacy-border-0 legacy-cellpadding-15">
    <tr> 
      <td class="legacy-width-178"><img src="/img/car.jpg" class="legacy-width-300 legacy-height-185"></td>
      <td class="legacy-width-306"> 
        <p class="legacy-align-center"><img src="/img/thinice.jpg" class="legacy-width-75 legacy-height-179"></p>
        <p><span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"><b>Ice 
          Safety<br>
          When is ice safe? NEVER!!!! </b></span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">Ice can 
          be 3 inches thick in one spot and 5 inches thick 5 feet away from there. 
          </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">That's 
          why ice can never be safe. Don't trust ice. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">To walk 
          on ice it has to be 4 inches thick of pure ice. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">For a snowmobile 
          to drive on ice, it takes about 5-10 inches of thick ice. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">For a car 
          it takes 10 to 14 inches of thick ice. </span></p>
        </td>
    </tr>
  </table>

</div>

<LegacyFooter />
</div>
</LegacyLayout>

















