---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Kaija's Water Safety Research HomePage"
  description="Kaija's Water Safety research hub with swimming, boating, and ice safety."
>
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></span>
</div>


<div class="kid-content-container">
<table class="legacy-border-0 legacy-cellpadding-15 legacy-width-550">
<tr>
<td class="legacy-width-178"><img src="/img/book.jpg" class="legacy-height-378 legacy-width-250"></td>
<td class="legacy-width-306">
<p class="legacy-align-center"><img src="/img/kaija.jpg" class="legacy-height-121 legacy-width-90"></p>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">My name 
          is Kaija Hansen. I am a student at Highlands Elementary School in Edina, 
          Minnesota.</span></p>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">I did my 
          research project on Water Safety. This includes:</span></p>
<blockquote>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="/kid/water/swim/">Swimming</a></span></p>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="/kid/water/ski/">Water 
            Skiing</a></span></p>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="/kid/water/hypo/">Hypothermia</a></span></p>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="/kid/water/ice/">Ice 
            Safety</a></span></p>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="/kid/water/boat/">Boat 
            Safety</a></span></p>
</blockquote>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">You can 
          go to the various topics by clicking on the links.</span></p>
<p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">One of 
          the reasons I'm interested in Water Safety is because my Uncle Denny 
          Hansen is a Park Ranger with Hennepin County Parks Public Safety. <a href="/kid/water/denny/">Click 
          here</a> for a picture of him and his horse Kramer.</span></p>

</td>
</tr>
</table>
<table class="legacy-border-0 legacy-width-550">
<tr>
<td class="legacy-width-279">

</td>
<td class="legacy-width-261">
<hr class="legacy-width-100pct">
<p><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana"><b>Bibliography 
          </b> </span></p>
<p><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">Robberts, 
          Libby. <u>Survival Skills<br>
</u>               England 
          : Wayland Publishers, 1993.</span></p>
<p><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">Hansen, 
          Denny. Interviewed, February 24, 1999</span></p>
<p><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">Hypothermia. 
          World Book Information finder, 1991 ed.</span></p>
<p><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">Hypothermia. 
          School Dictionary 2, 1990 ed.</span></p>
</td>
</tr>
</table>


</div>
<LegacyFooter />
</div>
</LegacyLayout>













