---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</div>


<div class="kid-content-container">
<table border="0" cellpadding="15" width="550">
<tr>
<td width="178"><img height="378" src="/img/book.jpg" width="250"></td>
<td width="306">
<p align="center"><img height="121" src="/img/kaija.jpg" width="90"></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">My name 
          is Kaija Hansen. I am a student at Highlands Elementary School in Edina, 
          Minnesota.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">I did my 
          research project on Water Safety. This includes:</font></p>
<blockquote>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/swim/">Swimming</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/ski/">Water 
            Skiing</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/hypo/">Hypothermia</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/ice/">Ice 
            Safety</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/boat/">Boat 
            Safety</a></font></p>
</blockquote>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">You can 
          go to the various topics by clicking on the links.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">One of 
          the reasons I'm interested in Water Safety is because my Uncle Denny 
          Hansen is a Park Ranger with Hennepin County Parks Public Safety. <a href="/kid/water/denny/">Click 
          here</a> for a picture of him and his horse Kramer.</font></p>

</td>
</tr>
</table>
<table border="0" width="550">
<tr>
<td width="279">

</td>
<td width="261">
<hr width="100%">
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>Bibliography 
          </b> </font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Robberts, 
          Libby. <u>Survival Skills<br>
</u>               England 
          : Wayland Publishers, 1993.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Hansen, 
          Denny. Interviewed, February 24, 1999</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Hypothermia. 
          World Book Information finder, 1991 ed.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Hypothermia. 
          School Dictionary 2, 1990 ed.</font></p>
</td>
</tr>
</table>


</div>
<LegacyFooter />
</div>
</LegacyLayout>












