---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Kaija's Water Safety Research HomePage"
  description="Water skiing safety tips from Kaija's Water Safety project."
>
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</div>




<div class="kid-content-container">
  <table width="550" border="0" cellpadding="15">
    <tr> 
      <td width="178"><img src="/img/boat.jpg" width="361" height="287"></td>
      <td width="306">
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><font size="2">How 
          can you be safe while you're water skiing?</font></b></font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> Make sure 
          that you have the right equipment you need. Don't replace other things 
          with the right thing you need. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Wear a 
          P.F.D. (Personal Flotation Device, sometimes called a life jacket) and 
          if you fall off the skis don't panic.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> The boat 
          that is pulling the person needs a driver who is 16 years of age and 
          has a license to drive a boat. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">You need 
          at least three people to water ski. One, a driver for the boat. Two, 
          a person to watch the skier. Three, a person that water skis.</font> 
        </p>
        <p>&nbsp;</p>
      </td>
    </tr>
  </table>

</div>

<LegacyFooter />
</div>
</LegacyLayout>

















