---
// @ts-nocheck
import LegacyLayout from "../../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">

<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>

<center>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
</center>
<center>
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</center>



 
<center>
  <table width="550" border="0" cellpadding="15">
    <tr> 
      <td width="178"><img src="/img/boat.jpg" width="361" height="287"></td>
      <td width="306">
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><font size="2">How 
          can you be safe while you're water skiing?</font></b></font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> Make sure 
          that you have the right equipment you need. Don't replace other things 
          with the right thing you need. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Wear a 
          P.F.D. (Personal Flotation Device, sometimes called a life jacket) and 
          if you fall off the skis don't panic.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> The boat 
          that is pulling the person needs a driver who is 16 years of age and 
          has a license to drive a boat. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">You need 
          at least three people to water ski. One, a driver for the boat. Two, 
          a person to watch the skier. Three, a person that water skis.</font> 
        </p>
        <p>&nbsp;</p>
      </td>
    </tr>
  </table>
  
</center>

<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/" target="_top">
  <area shape="default" href="/">
</map>
</div>
</LegacyLayout>














