---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Kaija's Water Safety Research HomePage"
  description="Water skiing safety tips from Kaija's Water Safety project."
>
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></span>
</div>




<div class="kid-content-container">
  <table class="legacy-width-550 legacy-border-0 legacy-cellpadding-15">
    <tr> 
      <td class="legacy-width-178"><img src="/img/boat.jpg" class="legacy-width-361 legacy-height-287"></td>
      <td class="legacy-width-306">
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><b><span class="legacy-font legacy-font--size-2">How 
          can you be safe while you're water skiing?</span></b></span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"> Make sure 
          that you have the right equipment you need. Don't replace other things 
          with the right thing you need. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">Wear a 
          P.F.D. (Personal Flotation Device, sometimes called a life jacket) and 
          if you fall off the skis don't panic.</span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"> The boat 
          that is pulling the person needs a driver who is 16 years of age and 
          has a license to drive a boat. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">You need 
          at least three people to water ski. One, a driver for the boat. Two, 
          a person to watch the skier. Three, a person that water skis.</span> 
        </p>
        <p>&nbsp;</p>
      </td>
    </tr>
  </table>

</div>

<LegacyFooter />
</div>
</LegacyLayout>

















