---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../../components/LegacyHeader.astro";
import LegacyFooter from "../../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Kaija's Water Safety Research HomePage"
  description="Swimming safety tips from Kaija's Water Safety project."
>
<div class="mpls-legacy">
<LegacyHeader showNav />




<div class="kid-nav">
  <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></span>
</div>




<div class="kid-content-container">
  <table class="legacy-width-550 legacy-border-0 legacy-cellpadding-15">
    <tr> 
      <td class="legacy-width-264"> 
        <p><img src="/img/chart.gif" class="legacy-width-300 legacy-height-176"></p>
        <p><img src="/img/bouy.jpg" class="legacy-width-300 legacy-height-198"></p>
      </td>
      <td class="legacy-width-220"> 
        <p class="legacy-align-center"><img src="/img/swim.gif" class="legacy-width-200 legacy-height-75"></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><b><span class="legacy-font legacy-font--size-2">How 
          can you be safe while you're swimming?</span></b></span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">Let's say 
          you fall into the water current and you can't get back to shore. </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">What you 
          want to do is: float on your back for about four to five minutes, then 
          swim with the river current but slanted at an angle to the outside to 
          the shore. The trick is to get enough energy to swim back to shore. 
          </span></p>
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">Here are 
          some other helpful tips to remember while you're swimming. </span></p>
        <blockquote>
          <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">Swim 
            with a adult even if you can swim fairly well. </span></p>
          <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">Use the 
            buddy system while you're swimming. </span></p>
          <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">Even 
            if the water looks calm don't go into deep water with out a P.F.D. 
            (a personal flotation device or as you call it a life jacket).</span></p>
          <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"> If you're 
            swimming on a lake or beach watch out for boaters, water skiers, kayaks 
            and canoes or other dangers when you swim.</span></p>
        </blockquote>
      </td>
    </tr>
  </table>

</div>

<LegacyFooter />
</div>
</LegacyLayout>















