---
// @ts-nocheck
import LegacyLayout from "../../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">

<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/legacy/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>

<center>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
</center>
<center>
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/legacy/kid/water/watersafety/">HomePage</a> | <a href="/legacy/kid/water/ski/">Water Skiing</a> | <a href="/legacy/kid/water/hypo/">Hypothermia</a> | <a href="/legacy/kid/water/ice/">Ice Safety</a> | <a href="/legacy/kid/water/boat/">Boating Safety</a> | <a href="/legacy/kid/water/denny/">Ranger Hansen</a></font>
</center>



 
<center>
  <table width="550" border="0" cellpadding="15">
    <tr> 
      <td width="264"> 
        <p><img src="/img/chart.gif" width="300" height="176"></p>
        <p><img src="/img/bouy.jpg" width="300" height="198"></p>
      </td>
      <td width="220"> 
        <p align="center"><img src="/img/swim.gif" width="200" height="75"></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><b><font size="2">How 
          can you be safe while you're swimming?</font></b></font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Let's say 
          you fall into the water current and you can't get back to shore. </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">What you 
          want to do is: float on your back for about four to five minutes, then 
          swim with the river current but slanted at an angle to the outside to 
          the shore. The trick is to get enough energy to swim back to shore. 
          </font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Here are 
          some other helpful tips to remember while you're swimming. </font></p>
        <blockquote>
          <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Swim 
            with a adult even if you can swim fairly well. </font></p>
          <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Use the 
            buddy system while you're swimming. </font></p>
          <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">Even 
            if the water looks calm don't go into deep water with out a P.F.D. 
            (a personal flotation device or as you call it a life jacket).</font></p>
          <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"> If you're 
            swimming on a lake or beach watch out for boaters, water skiers, kayaks 
            and canoes or other dangers when you swim.</font></p>
        </blockquote>
      </td>
    </tr>
  </table>
   
</center>

<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/legacy/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/legacy/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/legacy/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/legacy/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/legacy/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/legacy/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/legacy/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/legacy/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/legacy/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/legacy/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/legacy/" target="_top">
  <area shape="default" href="/legacy/">
</map>
</div>
</LegacyLayout>











