---
// @ts-nocheck
import LegacyLayout from "../../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Kaija's Water Safety Research HomePage">
<div class="mpls-legacy">

<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>

<center>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
</center>
<center>
  <font face="Verdana,Helvetica,Arial" size="-1"><a href="/kid/water/watersafety/">HomePage</a> | <a href="/kid/water/ski/">Water Skiing</a> | <a href="/kid/water/hypo/">Hypothermia</a> | <a href="/kid/water/ice/">Ice Safety</a> | <a href="/kid/water/boat/">Boating Safety</a> | <a href="/kid/water/denny/">Ranger Hansen</a></font>
</center>


<center>
<table border="0" cellpadding="15" width="550">
<tr>
<td width="178"><img height="378" src="/img/book.jpg" width="250"></td>
<td width="306">
<p align="center"><img height="121" src="/img/kaija.jpg" width="90"></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">My name 
          is Kaija Hansen. I am a student at Highlands Elementary School in Edina, 
          Minnesota.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">I did my 
          research project on Water Safety. This includes:</font></p>
<blockquote>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/swim/">Swimming</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/ski/">Water 
            Skiing</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/hypo/">Hypothermia</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/ice/">Ice 
            Safety</a></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><a href="/kid/water/boat/">Boat 
            Safety</a></font></p>
</blockquote>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">You can 
          go to the various topics by clicking on the links.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">One of 
          the reasons I'm interested in Water Safety is because my Uncle Denny 
          Hansen is a Park Ranger with Hennepin County Parks Public Safety. <a href="/kid/water/denny/">Click 
          here</a> for a picture of him and his horse Kramer.</font></p>
<p> </p>
</td>
</tr>
</table>
<table border="0" width="550">
<tr>
<td width="279">
<p> </p>
</td>
<td width="261">
<hr width="100%">
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>Bibliography 
          </b> </font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Robberts, 
          Libby. <u>Survival Skills<br>
</u>               England 
          : Wayland Publishers, 1993.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Hansen, 
          Denny. Interviewed, February 24, 1999</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Hypothermia. 
          World Book Information finder, 1991 ed.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Hypothermia. 
          School Dictionary 2, 1990 ed.</font></p>
</td>
</tr>
</table>
<p> </p>

</center>
<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/" target="_top">
  <area shape="default" href="/">
</map>
</div>
</LegacyLayout>











