---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Northern Exposure @ mp.ls"
  description="Northern Exposure photo gallery featuring Minnesota winter scene 01."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="exposure-titlebar"><p><img src="/img/ne_words.gif" alt="Northern Exposure" class="legacy-width-303 legacy-height-94 legacy-border-0"></p>
</div>

<div class="exposure-gallery">
  <table class="legacy-width-600 legacy-border-0 legacy-cellspacing-0 legacy-cellpadding-0">
    <tr>
      <td class="legacy-width-90 legacy-align-left legacy-valign-middle"><a href="/exposure/12/"><img src="/img/arrow_l.gif" alt="Reverse" class="legacy-border-0"></a></td>
      <td class="legacy-align-center"><img src="/img/exposure/p01.jpg" alt="Northern Exposure 01" class="legacy-width-450 legacy-height-300 legacy-border-0"></td>
      <td class="legacy-width-90 legacy-align-right legacy-valign-middle"><a href="/exposure/02/"><img src="/img/arrow_r.gif" alt="Forward" class="legacy-border-0"></a></td>
    </tr>
  </table>
</div>

<LegacyFooter />
</div>
</LegacyLayout>










