---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout title="Northern Exposure @ mpls.com">
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="exposure-titlebar"><p><img src="/img/ne_words.gif" width="303" height="94" border="0" alt="Northern Exposure"></p>
</div>

<div class="exposure-gallery">
  <table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="90" align="left" valign="middle"><a href="/exposure/09/"><img src="/img/arrow_l.gif" alt="Reverse" border="0"></a></td>
      <td align="center"><img src="/img/exposure/p10.jpg" width="450" height="300" border="0" alt="Northern Exposure 10"></td>
      <td width="90" align="right" valign="middle"><a href="/exposure/11/"><img src="/img/arrow_r.gif" alt="Forward" border="0"></a></td>
    </tr>
  </table>
</div>

<LegacyFooter />
</div>
</LegacyLayout>









