---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Northern Exposure @ mp.ls"
  description="Northern Exposure photo archive exploring Minnesota winter safety and extreme cold conditions."
>
<div class="mpls-legacy exposure-page">
<LegacyHeader showNav />

<div class="exposure-titlebar"><table class="legacy-width-610 legacy-border-0 legacy-cellspacing-0 legacy-cellpadding-2 legacy-height-99">
<tr>
      <td class="legacy-width-25pct legacy-height-99"><a href="/exposure/01/"><img src="/img/01.jpg" class="legacy-width-150 legacy-height-99 legacy-align-bottom legacy-border-0"></a></td>
      <td class="legacy-width-25pct"><a href="/exposure/02/"><img src="/img/02.jpg" class="legacy-width-150 legacy-height-99 legacy-align-bottom legacy-border-0"></a></td>
      <td class="legacy-width-25pct"><a href="/exposure/03/"><img src="/img/03.jpg" class="legacy-width-150 legacy-height-99 legacy-align-bottom legacy-border-0"></a></td>
      <td class="legacy-width-25pct"><a href="/exposure/04/"><img src="/img/04.jpg" class="legacy-width-150 legacy-height-99 legacy-align-bottom legacy-border-0"></a></td>
    </tr>
</table></div>


<div class="exposure-table-container"><table class="legacy-width-610 legacy-height-94 legacy-border-0 legacy-cellspacing-0 legacy-cellpadding-2">
<tr>
      <td class="legacy-width-25pct"><a href="/exposure/12/"><img src="/img/12.jpg" class="legacy-width-150 legacy-height-94 legacy-align-bottom legacy-border-0"></a></td>
<td class="legacy-width-50pct"><img src="/img/ne_words.gif" class="legacy-width-303 legacy-height-94 legacy-align-bottom"></td>
      <td class="legacy-width-25pct"><a href="/exposure/05/"><img src="/img/05.jpg" class="legacy-width-150 legacy-height-94 legacy-align-bottom legacy-border-0"></a></td>
    </tr>
</table></div>
<div class="exposure-table-container"><table class="legacy-width-610 legacy-height-93 legacy-border-0 legacy-cellspacing-0 legacy-cellpadding-2">
<tr>
      <td class="legacy-width-150"><a href="/exposure/11/"><img src="/img/11.jpg" class="legacy-width-150 legacy-height-92 legacy-align-bottom legacy-border-0"></a></td>
<td class="legacy-width-310"><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><div class="exposure-gallery">
          <span class="legacy-font legacy-font--size--2">Click on an image for larger view and a brief description.
          Visit <a href="https://web.archive.org/web/20001202222100/http://www.heinrich.mp.ls/" target="_blank">Photographer
          George Heinrich's Website</a> to view more of his dramatic photography
          and studio portfolio.</span>
        </div>

<div class="exposure-gallery"> <hr class="legacy-width-50pct">
          <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/order/"><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva">ADVERTISE 
          </span></a></span><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva">| 
          <a href="/business/"><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva">BUSINESS 
          </span></a></span><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva">| 
          <a href="/cool/">COOL SPOTS</a> | <a href="/exposure/">NORTHERN EXPOSURE</a> <br>
          <a href="/kid/">KIDS</a> 
          | <a href="/media/">MEDIA</a> | <a href="/news/">NEWS 
          </a> | <a href="/politics/">POLITICS</a> | <a href="/sports/">SPORTS</a> 
          | <a href="/weather/">WEATHER</a> | <a href="/search/">SEARCH<br>
          </a></span><span class="legacy-font legacy-font--color-000000 legacy-font--face-verdana"><span class="legacy-font legacy-font--color-000000 legacy-font--face-verdana"><span class="legacy-font legacy-font--color-000000 legacy-font--face-verdana"><span class="legacy-font legacy-font--color-000000 legacy-font--face-verdana"><span class="legacy-font legacy-font--color-000000 legacy-font--face-verdana">
          <a href="/"><img src="/img/mpls.gif" alt="mp.ls" class="legacy-align-middle legacy-width-95 legacy-height-18 legacy-border-0"></a></span></span></span></span></span>
        </div>

</span></td>
      <td class="legacy-width-150"><a href="/exposure/06/"><img src="/img/06.jpg" class="legacy-width-150 legacy-height-93 legacy-align-bottom legacy-border-0"></a></td>
    </tr>
</table></div>


<div class="exposure-table-container"><table class="legacy-width-610 legacy-border-0 legacy-cellspacing-0 legacy-cellpadding-2 legacy-height-93">
<tr>
      <td class="legacy-width-25pct legacy-height-93"><a href="/exposure/10/"><img src="/img/10.jpg" class="legacy-align-bottom legacy-width-150 legacy-height-93 legacy-border-0"></a></td>
      <td class="legacy-width-25pct"><a href="/exposure/09/"><img src="/img/09.jpg" class="legacy-align-bottom legacy-width-150 legacy-height-93 legacy-border-0"></a></td>
      <td class="legacy-width-25pct"><a href="/exposure/08/"><img src="/img/08.jpg" class="legacy-align-bottom legacy-width-150 legacy-height-93 legacy-border-0"></a></td>
      <td class="legacy-width-25pct"><a href="/exposure/07/"><img src="/img/07.jpg" class="legacy-align-bottom legacy-width-150 legacy-height-93 legacy-border-0"></a></td>
    </tr>
</table></div>


<LegacyFooter />
<p>
</div>
</LegacyLayout>


















