---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout title="Northern Exposure @ mpls.com">
<div class="mpls-legacy exposure-page">
<LegacyHeader />

<div class="exposure-titlebar">
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
  <table width="610" border="0" cellspacing="0" cellpadding="2" height="99">
<tr>
      <td width="25%" height="99"><a href="/exposure/01/"><img src="/img/01.jpg" width="150" height="99" align="BOTTOM" border="0"></a></td>
      <td width="25%"><a href="/exposure/02/"><img src="/img/02.jpg" width="150" height="99" align="BOTTOM" border="0"></a></td>
      <td width="25%"><a href="/exposure/03/"><img src="/img/03.jpg" width="150" height="99" align="BOTTOM" border="0"></a></td>
      <td width="25%"><a href="/exposure/04/"><img src="/img/04.jpg" width="150" height="99" align="BOTTOM" border="0"></a></td>
    </tr>
</table></div>


<div class="exposure-table-container"><table width="610" height="94" border="0" cellspacing="0" cellpadding="2">
<tr>
      <td width="25%"><a href="/exposure/12/"><img src="/img/12.jpg" width="150" height="94" align="BOTTOM" border="0"></a></td>
<td width="50%"><img src="/img/ne_words.gif" width="303" height="94" align="BOTTOM"></td>
      <td width="25%"><a href="/exposure/05/"><img src="/img/05.jpg" width="150" height="94" align="BOTTOM" border="0"></a></td>
    </tr>
</table></div>
<div class="exposure-table-container"><table width="610" height="93" border="0" cellspacing="0" cellpadding="2">
<tr>
      <td width="150"><a href="/exposure/11/"><img src="/img/11.jpg" width="150" height="92" align="BOTTOM" border="0"></a></td>
<td width="310"><font face="Verdana,Helvetica,Arial" size="-1"><div class="exposure-gallery">
          <font size="-2">Click on an image for larger view and a brief description.
          Visit <a href="https://web.archive.org/web/20001202222100/http://www.heinrich.mpls.com/" target="_blank">Photographer
          George Heinrich's Website</a> to view more of his dramatic photography
          and studio portfolio.</font>
        </div>

<div class="exposure-gallery"> <hr width="50%">
          <font size="-1" face="Verdana,Helvetica,Arial"><a href="/order/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">ADVERTISE 
          </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
          <a href="/business/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">BUSINESS 
          </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
          <a href="/cool/">COOL SPOTS</a> | <a href="/exposure/">NORTHERN EXPOSURE</a> <br>
          <a href="/kid/">KIDS</a> 
          | <a href="/media/">MEDIA</a> | <a href="/news/">NEWS 
          </a> | <a href="/politics/">POLITICS</a> | <a href="/sports/">SPORTS</a> 
          | <a href="/weather/">WEATHER</a> | <a href="/search/">SEARCH<br>
          </a></font><font face="Verdana,Helvetica,Arial" color="#000000"><font face="Verdana,Helvetica,Arial" color="#000000"><font face="Verdana,Helvetica,Arial" color="#000000"><font face="Verdana,Helvetica,Arial" color="#000000"><font face="Verdana,Helvetica,Arial" color="#000000">
          <a href="/"><img src="/img/mpls.gif" alt="mpls.com" align="MIDDLE" width="95" height="18" border="0"></a></font></font></font></font></font>
        </div>

</font></td>
      <td width="150"><a href="/exposure/06/"><img src="/img/06.jpg" width="150" height="93" align="BOTTOM" border="0"></a></td>
    </tr>
</table></div>


<div class="exposure-table-container"><table width="610" border="0" cellspacing="0" cellpadding="2" height="93">
<tr>
      <td width="25%" height="93"><a href="/exposure/10/"><img src="/img/10.jpg" align="BOTTOM" width="150" height="93" border="0"></a></td>
      <td width="25%"><a href="/exposure/09/"><img src="/img/09.jpg" align="BOTTOM" width="150" height="93" border="0"></a></td>
      <td width="25%"><a href="/exposure/08/"><img src="/img/08.jpg" align="BOTTOM" width="150" height="93" border="0"></a></td>
      <td width="25%"><a href="/exposure/07/"><img src="/img/07.jpg" align="BOTTOM" width="150" height="93" border="0"></a></td>
    </tr>
</table></div>


<LegacyFooter />

<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/">
  <area shape="rect" coords="498,0,552,19" href="/weather/">
  <area shape="rect" coords="450,0,495,19" href="/sports/">
  <area shape="rect" coords="397,0,448,19" href="/politics/">
  <area shape="rect" coords="358,0,392,19" href="/news/">
  <area shape="rect" coords="316,0,354,19" href="/media/">
  <area shape="rect" coords="281,0,312,19" href="/kid/">
  <area shape="rect" coords="220,0,278,19" href="/exposure/">
  <area shape="rect" coords="151,0,218,19" href="/cool/">
  <area shape="rect" coords="92,0,148,19" href="/business/">
  <area shape="rect" coords="0,0,90,19" href="/">

  <area shape="default" href="/">
</map>





<p>
</div>
</LegacyLayout>


















