---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Ad Info for the Business Network @mp.ls"
  description="Advertising information for the mp.ls Minnesota Business Network."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="bizads-main-content"><table class="legacy-width-600 legacy-border-0 legacy-cellpadding-10">
    <tr>
      <td>
        <table class="legacy-width-590 legacy-border-0 legacy-align-center legacy-cellpadding-10">
          <tr>
            <td><hr class="legacy-width-600">
        <p class="legacy-align-center"> </p>
        <p class="legacy-align-center"><span class="legacy-font legacy-font--face-verdana"><a href="/order/"><span class="legacy-font legacy-font--size-3 legacy-font--color-003333"><b>Click
          here for Order Form</b></span></a></span></p>
        <p class="legacy-align-center"><span class="legacy-font legacy-font--face-verdana"><b><i><span class="legacy-font legacy-font--size-1">PUT
          THE WEB TO WORK IN YOUR BUSINESS</span></i></b></span></p>
        </td>
    </tr>
  </table>
  <br>
  <hr class="legacy-width-600">
  <LegacyFooter />
  
  
  
  
</div>

<br>
</div>
</LegacyLayout>






















