---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Ad Info for the Business Network @mpls.com"
  description="Advertising information for the MPLS.com Minnesota Business Network."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="bizads-main-content"><table width="600" border="0" cellpadding="10">
    <tr>
      <td>
        <table width="590" border="0" align="center" cellpadding="10">
          <tr>
            <td><hr width="600" noshade>
        <p align="center"> </p>
        <p align="center"><font face="Verdana, Arial, Helvetica, sans-serif"><a href="/order/"><font color="#003333" size="3"><b>Click
          here for Order Form</b></font></a></font></p>
        <p align="center"><font face="Verdana, Arial, Helvetica, sans-serif"><b><i><font size="1">PUT
          THE WEB TO WORK IN YOUR BUSINESS</font></i></b></font></p>
        </td>
    </tr>
  </table>
  <br>
  <hr width="600">
  <LegacyFooter />
  
  
  
  
</div>

<br>
</div>
</LegacyLayout>






















