---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Ad Info for the Business Network @mpls.com">
<div class="mpls-legacy">
<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>
<center><table width="600" border="0" cellpadding="10">
    <tr>
      <td> 
        <table width="590" border="0" align="center" cellpadding="10">
          <tr>
            <td><hr width="600" noshade>
        <p align="center"> </p>
        <p align="center"><font face="Verdana, Arial, Helvetica, sans-serif"><a href="/order/"><font color="#003333" size="3"><b>Click 
          here for Order Form</b></font></a></font></p>
        <p align="center"><font face="Verdana, Arial, Helvetica, sans-serif"><b><i><font size="1">PUT 
          THE WEB TO WORK IN YOUR BUSINESS</font></i></b></font></p>
        </td>
    </tr>
  </table>
  <br>
  <hr width="600">
  <center>
    <font size="-1" face="Verdana,Helvetica,Arial"><a href="/"><img src="/img/mpls.gif" alt="mpls.com" align="MIDDLE" width="95" height="18" border="0"></a><a href="/order/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2"><br>
      ADVERTISE </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/business/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">BUSINESS 
      </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/cool/">COOL SPOTS</a> | <a href="/exposure/">NORTHERN EXPOSURE</a> | <a href="/kid/">KIDS</a> 
      | <a href="/media/">MEDIA</a> | <a href="/news/">NEWS 
      </a> | <a href="/politics/">POLITICS</a> | <a href="/sports/">SPORTS</a> 
      | <a href="/weather/">WEATHER</a> | <a href="/search/">SEARCH FARM</a></font> 
  </center>
  <center>
    <hr width="468">
    <font size="-2" face="Geneva, Arial, Helvetica, sans-serif">WEBSITE DESIGNED 
    &amp; MAINTAINED BY <a href="https://web.archive.org/web/20000527000204/http://www.digital.mpls.com/">DIGITAL CONCEPTS,</a> 
    MINNEAPOLIS, MINNESOTA </font><font face="Verdana,Futura,Helvetica,Arial"> 
    <hr width="468">
    </font><font size="-2" face="Geneva, Arial, Helvetica, sans-serif">The contents 
    of this website are   Copyright 1997-1999 DIGITAL CONCEPTS. All rights 
    reserved.<br>
    </font>
  </center>
  <p> </p>
  <p> </p>
  <p> </p>
  <p>  </p>
</center>

<center>
</center>

<br>

<center>
</center>


<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/">
  <area shape="rect" coords="498,0,552,19" href="/weather/">
  <area shape="rect" coords="450,0,495,19" href="/sports/">
  <area shape="rect" coords="397,0,448,19" href="/politics/">
  <area shape="rect" coords="358,0,392,19" href="/news/">
  <area shape="rect" coords="316,0,354,19" href="/media/">
  <area shape="rect" coords="281,0,312,19" href="/kid/">
  <area shape="rect" coords="220,0,278,19" href="/exposure/">
  <area shape="rect" coords="151,0,218,19" href="/cool/">
  <area shape="rect" coords="92,0,148,19" href="/business/">
  <area shape="rect" coords="0,0,90,19" href="/">

  <area shape="default" href="/">
</map>
</div>
</LegacyLayout>



















