---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Minnesota Business Network"
  description="Directory of Minneapolis businesses and ads featured in the Minnesota Business Network."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="business-main-content">
  <p><span class="legacy-font legacy-font--size-1 legacy-font--color-999999 legacy-font--face-geneva">&lt;
    A D V E R T I S E M E N T &gt;</span><span class="legacy-font legacy-font--size-1 legacy-font--color-999999 legacy-font--face-verdana"><br>
    <a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mp.ls/"><img src="/img/heinad.gif" class="legacy-align-bottom legacy-width-468 legacy-height-60 legacy-border-0"></a>
    </span><br>
    <a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mp.ls/" target="_blank"><span class="legacy-font legacy-font--size-1 legacy-font--color-999999 legacy-font--face-geneva">HEINRICH
    &amp; HEINRICH</span></a></p><p><span class="legacy-font legacy-font--size-5 legacy-font--face-verdana">M I N N E A P O L I S    B U S I N E S S    N E T W O R K</span></p>
  <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="/bizads/"><span class="legacy-font legacy-font--color-660000">Click
    to add your website to the Minneapolis Business Network</span></a></span></p>
  <table class="legacy-width-600 legacy-border-1 legacy-cellpadding-10">
    <tr>
      <td class="legacy-width-116">
        <div class="business-name">
          <a href="https://web.archive.org/web/20001030182442/http://www.carrouseltravel.com/" target="_blank"><span class="legacy-font legacy-font--face-verdana">Carrousel
          Travel</span></a>
        </div>
      </td>
      <td class="legacy-width-433">
        <p><a href="https://web.archive.org/web/20001030182442/http://www.carrouseltravel.com/" target="_blank"><img src="/img/ctbanner.gif" class="legacy-width-468 legacy-height-60 legacy-border-0"></a></p>
        <p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">Full service
          Minneapolis travel agency specializing in leisure, tour and group travel.
          Carrousel is an American Express Travel Services Representative.</span></p>
      </td>
    </tr>
    <tr>
      <td class="legacy-width-116">
        <div class="business-name">
          <span class="legacy-font legacy-font--face-verdana"><a href="https://web.archive.org/web/20001030182442/http://www.craftedclassics.com/" target="_blank">Crafted
          Classics </a></span>
        </div>
      </td>
      <td class="legacy-width-433">
        <p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">America's
          finest collection of custom-designed golf putters for office, home and
          golf course. Product line includes executive sets featuring distinctive
          Dymondwood and brass handmade balanced putters.</span></p>
      </td>
    </tr>
    <tr>
      <td class="legacy-width-116">
        <div class="business-name">
          <span class="legacy-font legacy-font--face-verdana"><a href="https://web.archive.org/web/20001030182442/http://www.digital.mp.ls/" target="_blank">Digital
          Concepts</a></span>
        </div>
      </td>
      <td class="legacy-width-433">
        <p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">Digital
          Concepts is a full-service communications company, providing writing,
          design and production for print, web or corporate communications programs.
          </span></p>
      </td>
    </tr>
    <tr>
      <td class="legacy-width-116">
        <div class="business-name">
          <a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mp.ls/" target="_blank"><span class="legacy-font legacy-font--face-verdana">Heinrich
          Photography</span></a>
        </div>
      </td>
      <td class="legacy-width-433">
        <p><a href="https://web.archive.org/web/20001030182442/http://www.heinrich.mp.ls/" target="_blank"><img src="/img/heinrich.gif" class="legacy-width-468 legacy-height-60 legacy-border-0"></a></p>
        <p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">Consider
          Heinrich Photography when you have a need for spectacular photography
          in your next presentation, brochure or company advertisement.</span></p>
      </td>
    </tr>
  </table>
  <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="/bizads/"><span class="legacy-font legacy-font--color-660000">Click
    to add your website to the Minneapolis Business Network</span></a></span></p>
  <LegacyFooter />
  
  
  
  
</div>

<br>
</div>
</LegacyLayout>





















