---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Cool Spots @ mp.ls"
  description="A curated list of Minneapolis cool spots, local finds, and quirky recommendations from the legacy mp.ls site."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="cool-main-content"><table class="legacy-width-600 legacy-border-0">
    <tr>
      <td class="legacy-width-294">
        <div class="cool-header">
          <span class="legacy-font legacy-font--size-5 legacy-font--face-times"><b><span class="legacy-font legacy-font--size-6 legacy-font--face-verdana">THE COOL SPOTS</span></b><img src="/img/space.gif" class="legacy-width-25 legacy-height-10"><img src="/img/dancedot.gif" class="legacy-width-32 legacy-height-32"> <img src="/img/space.gif" class="legacy-width-5 legacy-height-5"><img src="/img/dancedot.gif" class="legacy-width-32 legacy-height-32"> <img src="/img/space.gif" class="legacy-width-5 legacy-height-5"><img src="/img/dancedot.gif" class="legacy-width-32 legacy-height-32"> <img src="/img/space.gif" class="legacy-width-5 legacy-height-5"><img src="/img/dancedot.gif" class="legacy-width-32 legacy-height-32">
        </div>
      </td>
    </tr>
  </table>
  <table class="legacy-width-600 legacy-border-1 legacy-cellspacing-0 legacy-cellpadding-8">
    <tr>
      <td class="legacy-valign-top legacy-width-200">
        <div class="cool-section-header">
          <p><img src="/img/space.gif" class="legacy-align-middle legacy-width-5 legacy-height-5 legacy-border-0">
            <img src="/img/space.gif" class="legacy-align-middle legacy-width-5 legacy-height-5 legacy-border-0"><b><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">THE
            WEATHER</span></b></p>
          <p class="legacy-align-left"><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">If
            you are a Minnesotan, you are probably obsessed with following the
            weather. Today's weather, tomorrow's weather, the weekend weather.</span>
          </p>
          </div>
        <p> <span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">Paul
          Douglas--the former KARE 11 weatherman, who went to Chicago, came back
          to Minneapolis, and now is the weather guru at WCCO--also owns <a href="https://web.archive.org/web/20001202214600/http://www.earthwatch.com/" target="_blank">EarthWatch</a>
          the 3D weather visualization system that many television stations employ
          to give their viewers an air view of weather fronts, storms, etc. If
          you visit this site you can download a quicktime movie that puts Minnesota
          weather into motion. Neat site if you're into understanding and following
          weather patterns.</span>
        </p></td>
      <td class="legacy-valign-top legacy-width-200">
        <p>
        <span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">
        </span></p><div class="cool-section-header">
            <p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><b>PROSTITUTE
              PATROL</b></span></p>
            <p class="legacy-align-left"><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">Check
              out the <a href="https://web.archive.org/web/20001202214600/http://alpha.stpaul.gov/police/prostitution.html" target="_blank">St.
              Paul Police</a> Department's public humiliation effort to deter
              prostitution. The very controversial web page features pictures
              of both Pros and Johns arrested in recent prostitution roundups.
              Tough looking bunch over there in St. Paul.</span> </p>
          </div>
        </td>
      <td class="legacy-valign-top legacy-width-200"><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana">
        </span><div class="cool-section-header">
          <p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><b>FOR
            THE BIRDS</b></span></p>
          <p class="legacy-align-left"><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">Mae,
            the NSP Peregrine Falcon, is back sitting on her eggs at the Northern
            States Power plant on the St. Croix River in Oak Park Heights, Minnesota.
            It's the 10th year Mae has nested on the smokestack. This year she
            has four eggs. Click <a href="https://web.archive.org/web/20001202214600/http://www.nspco.com/nspbird.htm" target="_blank">NSP's
            Bird Cam</a> for a visit.</span> </p>
        </div>
        <p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">And, <a href="https://web.archive.org/web/20001202214600/http://www.kare11.com/cardinal.html" target="_blank">KARE
          11 Television</a>, features &quot;Cardinal Cam&quot; to give Internet
          visitors a chance to view a couple of Cardinals that have nested in
          one of the trees in the KARE 11 Weather Set &quot;Backyard&quot;.</span>
        </p></td>
    </tr>
  </table>
  </div>

<LegacyFooter />
<div class="stattrax-tracker">

<img src="https://web.archive.org/web/20001202214600im_/http://www.stattrax.com/cgi/stattrax.cgi?account=3757&amp;page=200&amp;graphic=1&amp;ref=(none)">

</div>
</div>
</LegacyLayout>


















