---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout title="Minneapolis - m p l s . c o m - Minnesota">
<div class="mpls-legacy">
<div class="legacy-banner" id="legacyBanner" role="status" aria-live="polite">
  <div class="legacy-banner__inner">
    <span>This is a reproduction of the original MPLS website, preserving the legacy site that inspired MP.LS.</span>
    <button class="legacy-banner__close" type="button" id="legacyBannerClose">Close</button>
  </div>
</div>
<div class="legacy-banner__spacer" id="legacyBannerSpacer"></div>
<LegacyHeader showNav />
<div class="home-main-content">
<table border="0" cellpadding="1" cellspacing="1" width="600">
<tr>
<td width="129">
<div class="sidebar-email-box">
<table bgcolor="#cccccc" border="1" cellpadding="3" cellspacing="2" width="119">
<tr>
<td width="100%">
<p>
</p><div class="email-signup">
<p><font face="Verdana,Futura,Helvetica,Arial" size="-1"><a href="mailto:info@mp.ls">CLICK FOR EMAIL</a></font><br>
<font face="Verdana,Futura,Helvetica,Arial" size="-2">We'll
                    send you a friendly, 'Minnesota Nice' note when new sections
                    are added.</font><br>
</p>
</div>
</td>
</tr>
</table>
</div>
<p align="center"><font face="Verdana,Futura,Helvetica,Arial" size="-2">This
          site is a<br>
          website creation of<br>
</font><a href="http://www.digital.mpls.com/"><img align="BOTTOM" border="0" height="29" src="/img/logoanim.gif" width="85"></a><br>
<font face="Verdana,Futura,Helvetica,Arial" size="-2">Other sites at:<br>
<a href="http://www.carrouseltravel.com/">Carrousel Travel</a></font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="http://www.carrouseltravel.com/millennium/ships.html">
</a></font> <font face="Verdana,Futura,Helvetica,Arial" size="-2"><a href="http://www.aufderworld.com/">
</a></font> <font face="Verdana,Futura,Helvetica,Arial" size="-2"><a href="http://www.heinrich.mpls.com/">Heinrich
          Photography</a></font><br>
<font face="Verdana,Futura,Helvetica,Arial" size="-2"><a href="http://www.craftedclassics.com/">Crafted
          Classics</a></font><br>
<font face="Verdana,Futura,Helvetica,Arial" size="-2"><a href="http://www.bingo.hn/">
</a></font> </p>
<p>
</p><div class="contact-message">
<p><font face="Verdana,Futura,Helvetica,Arial" size="-2">Email </font><font face="Verdana,Helvetica,Arial" size="-2"><a href="mailto:info@mp.ls">Gary
            Hansen</a></font><font face="Verdana,Futura,Helvetica,Arial" size="-2">
            if you'd like a website created for you. Web marketing experience,
            professional writing and crafted design create dynamite websites.
            Put the web to work in your business.</font></p>
<p> </p>
</div>
</td>
<td width="301">
<div class="home-promo-box">
<table border="1" cellpadding="5" cellspacing="5" width="100%">
<tr align="center" valign="top">
<td> <font face="Verdana, Arial, Helvetica, sans-serif">If you .
                . .</font>
<p><font face="Verdana, Arial, Helvetica, sans-serif">. . . live
                  in Minneapolis<br>
                  . . . have a business in Minneapolis<br>
                  . . . remember when wrestling was a sport<br>
                  . . . think Garrison Keillor is a National Treasure<br>
                  . . . know the difference between ice and black ice<br>
</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">You need
                  a<br>
<font size="5"><b>mpls.com</b></font><br>
                  business domain or personal email address:</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>http://www.yourbusiness.mpls.com</b><br>
<font size="-1">$30/month (or) $300/year<br>
<font size="-2">(10Mb Disk Space/Monthly Site Reports) </font></font></font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>yourname@mpls.com</b><br>
</font><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">$25/year
                  for email address</font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">(Dial
                  up access additional) </font><font face="Verdana, Arial, Helvetica, sans-serif">
</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">Now is the
                  time to reserve your business address or personal email address
                  while they are still available.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"><a href="mailto:info@mp.ls">Email
                  requested domain name or email address</a></font></p>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>
<div class="home-guestbook-section">
<p><b><font face="Verdana,Helvetica,Arial" size="-1"><a href="/guestbook/#sign">SIGN
    THE GUESTBOOK</a></font></b> <img align="BOTTOM" border="0" height="10" src="/img/whitespacer.gif" width="20"> <b><font face="Verdana,Helvetica,Arial" size="-1"><a href="/guestbook/">VIEW THE GUESTBOOK</a></font></b></p>
<p> <a href="mailto:info@mp.ls"><img border="0" height="50" src="/img/mail.gif" width="145"></a>
<br>
<b><font face="Verdana,Helvetica,Arial" size="-1"><a href="mailto:info@mp.ls">SEND E-MAIL</a></font></b> </p>
<LegacyFooter />
<!-- ************** Start Stattrax Code ************** -->
<div class="stattrax-tracker">
<img src="https://web.archive.org/web/20001202200600im_/http://www.stattrax.com/cgi/stattrax.cgi?account=3757&amp;page=1&amp;graphic=1&amp;ref=(none)">
</div>
<!-- ************** End Stattrax Code ************** -->
</div>
</LegacyLayout>

<script>
  const banner = document.getElementById("legacyBanner");
  const spacer = document.getElementById("legacyBannerSpacer");
  const closeButton = document.getElementById("legacyBannerClose");
  const bannerKey = "mplsLegacyBannerClosed";
  if (banner && closeButton) {
    const isClosed = localStorage.getItem(bannerKey) === "true";
    if (!isClosed) {
      document.body.classList.add("has-legacy-banner");
      requestAnimationFrame(() => banner.classList.add("show"));
    } else {
      banner.style.display = "none";
      if (spacer) {
        spacer.style.display = "none";
      }
    }
    closeButton.addEventListener("click", () => {
      localStorage.setItem(bannerKey, "true");
      banner.classList.remove("show");
      banner.style.display = "none";
      if (spacer) {
        spacer.style.display = "none";
      }
      document.body.classList.remove("has-legacy-banner");
    });
  }
</script>






