---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="m p . l s - Minnesota's Home on the Internet"
  description="Reproduction of the original mp.ls homepage featuring Minneapolis news, weather, business, and community links."
>
<div class="mpls-legacy">
<div class="legacy-banner" id="legacyBanner" role="status" aria-live="polite">
  <div class="legacy-banner__inner">
    <span>This is a reproduction of the original MPLS website, preserving the legacy site that inspired MP.LS.</span>
    <button class="legacy-banner__close" type="button" id="legacyBannerClose">Close</button>
  </div>
</div>
<div class="legacy-banner__spacer" id="legacyBannerSpacer"></div>
<LegacyHeader showNav />
<div class="home-main-content">
<table class="legacy-border-0 legacy-cellpadding-1 legacy-cellspacing-1 legacy-width-600">
<tr>
<td class="legacy-width-129">
<div class="sidebar-email-box">
<table class="email-signup-table legacy-bgcolor-cccccc legacy-border-1 legacy-cellpadding-3 legacy-cellspacing-2 legacy-width-119">
<tr>
<td class="legacy-width-100pct">
<p>
</p><div class="email-signup">
<p><span class="legacy-font legacy-font--size--1 legacy-font--face-futura"><a href="mailto:info@mp.ls">CLICK FOR EMAIL</a></span><br>
<span class="legacy-font legacy-font--size--2 legacy-font--face-futura">We'll
                    send you a friendly, 'Minnesota Nice' note when new sections
                    are added.</span><br>
</p>
</div>
</td>
</tr>
</table>
</div>
<p class="legacy-align-center"><span class="legacy-font legacy-font--size--2 legacy-font--face-futura">This
          site is a<br>
          website creation of<br>
</span><a href="http://www.digital.mp.ls/"><img src="/img/logoanim.gif" class="legacy-align-bottom legacy-border-0 legacy-height-29 legacy-width-85"></a><br>
<span class="legacy-font legacy-font--size--2 legacy-font--face-futura">Other sites at:<br>
<a href="http://www.carrouseltravel.com/">Carrousel Travel</a></span><br>
<span class="legacy-font legacy-font--size--2 legacy-font--face-verdana"><a href="http://www.carrouseltravel.com/millennium/ships.html">
</a></span> <span class="legacy-font legacy-font--size--2 legacy-font--face-futura"><a href="http://www.aufderworld.com/">
</a></span> <span class="legacy-font legacy-font--size--2 legacy-font--face-futura"><a href="http://www.heinrich.mp.ls/">Heinrich
          Photography</a></span><br>
<span class="legacy-font legacy-font--size--2 legacy-font--face-futura"><a href="http://www.craftedclassics.com/">Crafted
          Classics</a></span><br>
<span class="legacy-font legacy-font--size--2 legacy-font--face-futura"><a href="http://www.bingo.hn/">
</a></span> </p>
<p>
</p><div class="contact-message">
<p><span class="legacy-font legacy-font--size--2 legacy-font--face-futura">Email </span><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana"><a href="mailto:info@mp.ls">Patrick Britton</a></span><span class="legacy-font legacy-font--size--2 legacy-font--face-futura">
            if you'd like a website created for you. Web marketing experience,
            professional writing and crafted design create dynamite websites.
            Put the web to work in your business.</span></p>
<p> </p>
</div>
</td>
<td class="legacy-width-301">
<div class="home-promo-box">
<table class="legacy-border-1 legacy-cellpadding-5 legacy-cellspacing-5 legacy-width-100pct">
<tr class="legacy-align-center legacy-valign-top">
<td> <span class="legacy-font legacy-font--face-verdana">If you .
                . .</span>
<p><span class="legacy-font legacy-font--face-verdana">. . . live
                  in Minneapolis<br>
                  . . . have a business in Minneapolis<br>
                  . . . remember when wrestling was a sport<br>
                  . . . think Garrison Keillor is a National Treasure<br>
                  . . . know the difference between ice and black ice<br>
</span></p>
<p><span class="legacy-font legacy-font--face-verdana">You need
                  a<br>
<span class="legacy-font legacy-font--size-5"><b>mp.ls</b></span><br>
                  business domain or personal email address:</span></p>
<p><span class="legacy-font legacy-font--face-verdana"><b>http://www.yourbusiness.mp.ls</b><br>
<span class="legacy-font legacy-font--size--1">$30/month (or) $300/year<br>
<span class="legacy-font legacy-font--size--2">(10Mb Disk Space/Monthly Site Reports) </span></span></span></p>
<p><span class="legacy-font legacy-font--face-verdana"><b>yourname@mp.ls</b><br>
</span><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana">$25/year
                  for email address</span><br>
<span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">(Dial
                  up access additional) </span><span class="legacy-font legacy-font--face-verdana">
</span></p>
<p><span class="legacy-font legacy-font--face-verdana">Now is the
                  time to reserve your business address or personal email address
                  while they are still available.</span></p>
<p><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="mailto:info@mp.ls">Email
                  requested domain name or email address</a></span></p>
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
</div>
<div class="home-guestbook-section">
<p><b><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/guestbook/#sign">SIGN
    THE GUESTBOOK</a></span></b> <img src="/img/whitespacer.gif" class="legacy-align-bottom legacy-border-0 legacy-height-10 legacy-width-20"> <b><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/guestbook/">VIEW THE GUESTBOOK</a></span></b></p>
<p> <a href="mailto:info@mp.ls"><img src="/img/mail.gif" class="legacy-border-0 legacy-height-50 legacy-width-145"></a>
<br>
<b><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="mailto:info@mp.ls">SEND E-MAIL</a></span></b> </p>
<LegacyFooter />
<!-- ************** Start Stattrax Code ************** -->
<div class="stattrax-tracker">
<img src="https://web.archive.org/web/20001202200600im_/http://www.stattrax.com/cgi/stattrax.cgi?account=3757&amp;page=1&amp;graphic=1&amp;ref=(none)">
</div>
<!-- ************** End Stattrax Code ************** -->
</div>
</LegacyLayout>

<script>
  const banner = document.getElementById("legacyBanner");
  const spacer = document.getElementById("legacyBannerSpacer");
  const closeButton = document.getElementById("legacyBannerClose");
  const bannerKey = "mplsLegacyBannerClosed";
  if (banner && closeButton) {
    const isClosed = localStorage.getItem(bannerKey) === "true";
    if (!isClosed) {
      document.body.classList.add("has-legacy-banner");
      requestAnimationFrame(() => banner.classList.add("show"));
    } else {
      banner.style.display = "none";
      if (spacer) {
        spacer.style.display = "none";
      }
    }
    closeButton.addEventListener("click", () => {
      localStorage.setItem(bannerKey, "true");
      banner.classList.remove("show");
      banner.style.display = "none";
      if (spacer) {
        spacer.style.display = "none";
      }
      document.body.classList.remove("has-legacy-banner");
    });
  }
</script>






