---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Minnesota Media @ mpls.com">
<div class="mpls-legacy">
<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>
<center>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar"> 
  <p><font face="Verdana,Helvetica,Arial" size="5">M I N N E S O T A   M 
    E D I A</font><font face="Verdana,Helvetica,Arial" size="5"> </font> </p>
</center>

<center>
  <table width="600" border="0" cellspacing="10" cellpadding="10">
    <tr> 
      <td width="320" valign="top"> 
        <p align="CENTER"> 
          </p><center>
            <img src="/img/surfing.gif" alt="Web Site Picks" align="BOTTOM" width="320" height="129" border="0"> 
          </center>
        <font face="Verdana,Helvetica,Arial" size="2"><b>In a state</b> with at 
        least 100 computers for every one of its famous 10,000 lakes, it's not 
        surprising that Minnesotans have their fair share of exemplary, homegrown 
        sites on the World Wide Web. Like their elder counterparts in early mainframe 
        computer technology, Minnesota web developers are today pioneering the 
        cutting edge of website development with sites and marketing techniques 
        that are spreading throughout the World Wide Web.
        <p> </p>
        <br>
        <font face="Verdana,Helvetica,Arial" size="2">
        </font></font><center>
          <b>- M I N N E S O T A - M E D I A -</b>
        </center>
        <br>
        <font face="Verdana,Helvetica,Arial" size="2">In many ways, the formation 
        of Internet Broadcasting and its <a href="https://web.archive.org/web/20001026104443/http://www.wcco.com/" target="_blank">Channel 
        4000</a> site for WCCO radio &amp; TV established the standard for economic 
        viability of local media sites on the Internet. It was the first to create 
        a economic model for a local media site that works. Its founders were 
        Internet visionaries and it's alliance with WCCO gave it early credibility 
        and success. The reported $100,000 banner commitments from AT&amp;T;, Byerlys 
        and Marquette Bank plus a huge on-air promotional effort by WCCO didn't 
        hurt either. 
        <p> </p>
        <font face="Verdana,Helvetica,Arial" size="2">Editor &amp; Publisher Interactive 
        recently reviewed the Channel 4000 business model with quotes from Reid 
        Johnson, CEO of the WCCO site. The article's title: <a href="https://web.archive.org/web/20001026104443/http://www.mediainfo.com/ephome/news/newshtm/stories/101797n1.htm" target="_blank">First 
        Profitable TV Web Site</a> swoons over the 300,000 visits the site receives 
        each month. This article is a good read for those of us interested in 
        the future of website media ventures.
        <p> </p>
        <font face="Verdana,Helvetica,Arial" size="2">Channel 4000 was certainly 
        not the first Minnesota media business to stake out territory online. 
        The Minneapolis Star Tribune and St. Paul Pioneer Press newspapers have 
        that distinction with early efforts at proprietary, paid service attempted 
        by both publications. In each case the paid subscription model failed.
        <p> </p>
        <font face="Verdana,Helvetica,Arial" size="2">Today, the <a href="https://web.archive.org/web/20001026104443/http://www.startribune.com/" target="_blank">Star 
        Tribune</a> offers one of the most comprehensive free sites on the web. 
        With a style that complements its newspaper, the online version of the 
        Star Tribune provides most of what you get with the version delivered 
        to your door, plus some new aspects available only to those who surf the 
        site.
        <p> </p>
        <font face="Verdana,Helvetica,Arial" size="2">The St. Paul Pioneer Press 
        has held true to its name, pioneering the online frontier with a website 
        that has changed many times over the short history of the World Wide Web. 
        Now a free subscription site, <a href="https://web.archive.org/web/20001026104443/http://www.pioneerplanet.com/" target="_blank">Pioneer 
        Planet</a> has refined its web site to include much of its daily paper 
        content plus added sections and economic alliances to create an exemplary 
        product for its Knight Ridder parent owners.
        <p> </p>
        <font face="Verdana,Helvetica,Arial" size="2">A directory site, presumptuously 
        calling itself 'Ultimate TV', has published a listing of all <a href="https://web.archive.org/web/20001026104443/http://www.ultimatetv.com/tv/us/mn/" target="_blank">Minnesota 
        Television Stations</a> along with web or Email links to those 'connected' 
        stations.
        <p> </p>
        <font face="Verdana,Helvetica,Arial" size="2">A dozen plus Minnesota newspapers 
        are currently listed in the Newspaper Association of America's directory 
        of <a href="https://web.archive.org/web/20001026104443/http://www.naa.org/hotlinks/searchResult.asp?param=MN-Minnesota&amp;City=1" target="_blank">Minnesota 
        Newspapers.</a> Check them out; it's fun to get a glimpse of Minnesota 
        life from the perspective of a local newspaper in Mankato, Rochester, 
        Winona or even St. Cloud. 
        <hr width="60%">
        <br>
        <br>
        <font face="Verdana,Helvetica,Arial" size="4"><b>
        </b></font></font></font></font></font></font></font></font><center>
          Check Out Our Sports Polls<br>
          @mpls.com
        </center>
         
        <p> 
        <font face="Verdana,Helvetica,Arial" size="3"><a href="/sports/">SPORTS 
        POLLING</a><font face="Verdana,Helvetica,Arial" size="3"> is featured on 
        our new Minnesota Sports page.<br>
        Vote for: <font face="Verdana,Helvetica,Arial" size="3">
        <blockquote>Who is the Most Hated Sports Figure in Minnesota history?</blockquote>
        </font> <font face="Verdana,Helvetica,Arial" size="3">
        <blockquote>With whom would you most like to talk baseball?</blockquote>
        </font> <font face="Verdana,Helvetica,Arial" size="3">
        <blockquote>And a quiz: What is the Minnesota hometown of New Orlean Saints 
          Head Athletic Trainer Dean Kleinschmidt?</blockquote>
        </font> <br>
        <br>
        <hr width="60%">
        <font face="Verdana,Helvetica,Arial" size="4"><b>
        </b></font></font></font></p><center>
          Also, Check Out Our Front Page
        </center>
         
        <p> <font face="Verdana,Helvetica,Arial" size="3"><a href="/">Mpls.com</a><font face="Verdana,Helvetica,Arial" size="3"> 
          always has something new and of interest to Minnesotans. Check us out 
          and come back often. </font></font>
        </p></td>
      <td width="244" valign="top"> 
        <center>
          <img src="/img/tvpoll.gif" alt="Television Poll" align="BOTTOM" width="210" height="27" border="0"> 
        </center>
        <center>
          <!-- Favorite TV News Station --> <!-- Begin Poll Code --> 
          <table width="210" cellpadding="4" cellspacing="0" border="1">
            <tr>
              <td width="210">
                <center>
                  <img src="/img/tvnews.gif" height="25" width="200"> 
                </center>
              </td>
            </tr>
            <tr>
              <td width="210"> 
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="1998530233612">
                  <font color="#000000" size="2" face="Verdana"><b>Your Favorite 
                  TV News Station?</b></font><br>
                  <br>
                  <table border="0">
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td valign="top"><img src="/img/wcco.gif" height="22" width="123"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td valign="top"><img src="/img/kstp.gif" height="22" width="123"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td valign="top"><img src="/img/kmsp.gif" height="22" width="123"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td valign="top"><img src="/img/kare.gif" height="22" width="123"></td>
                    </tr>
                  </table>
                  <br>
                  <center>
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=1998530233612">Current 
                    Results</a>
                  </center>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code --> <!-- Smartest Female Anchor --> <!-- Begin Poll Code --> 
          <table width="210" cellpadding="4" cellspacing="0" border="1">
            <tr>
              <td width="210">
                <center>
                  <img src="/img/tvfanchor.gif" height="25" width="200"> 
                </center>
              </td>
            </tr>
            <tr>
              <td width="210"> 
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="1998615154250">
                  <font color="#000000" size="2" face="Verdana"><b>Of these 
                  Minneapolis television personalities, who comes across as the 
                  smartest of them all?</b></font><br>
                  <br>
                  <table border="0">
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td valign="top"><img src="/img/amelia.gif" height="75" width="150"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td valign="top"><img src="/img/pat.gif" height="75" width="150"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td valign="top"><img src="/img/kalley.gif" height="75" width="150"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td valign="top"><img src="/img/robyne.gif" height="75" width="150"></td>
                    </tr>
                  </table>
                  <br>
                  <center>
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=1998615154250">Current 
                    Results</a>
                  </center>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code --> <!-- Sharpest Male Anchor --> <!-- Begin Poll Code --> 
          <table width="210" cellpadding="4" cellspacing="0" border="1">
            <tr>
              <td width="210">
                <center>
                  <img src="/img/tvmanchor.gif" height="25" width="200"> 
                </center>
              </td>
            </tr>
            <tr>
              <td width="210"> 
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="1998615164418">
                  <font color="#000000" size="2" face="Verdana"><b>Of these 
                  Minneapolis television personalities, who is the 'Sharpest' 
                  Male Anchor?</b></font><br>
                  <br>
                  <table border="0">
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td valign="top"><img src="/img/chris.gif" height="75" width="150"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td valign="top"><img src="/img/don.gif" height="75" width="150"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td valign="top"><img src="/img/jeff.gif" height="75" width="150"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td valign="top"><img src="/img/paul.gif" height="75" width="150"></td>
                    </tr>
                  </table>
                  <br>
                  <center>
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=1998615164418">Current 
                    Results</a>
                  </center>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code --> <!-- Best Weather Coverage --> <!-- Begin Poll Code --> 
          <table width="210" cellpadding="4" cellspacing="0" border="1">
            <tr>
              <td width="210">
                <center>
                  <img src="/img/tvweather.gif" height="25" width="200"> 
                </center>
              </td>
            </tr>
            <tr>
              <td width="210"> 
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="861984816">
                  <font color="#000000" size="2" face="Verdana"><b>Best Television 
                  Weather Coverage</b></font><br>
                  <br>
                  <table border="0">
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td valign="top"><img src="/img/wcco.gif" height="22" width="123"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td valign="top"><img src="/img/kstp.gif" height="22" width="123"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td valign="top"><img src="/img/kmsp.gif" height="22" width="123"></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td valign="top"><img src="/img/kare.gif" height="22" width="123"></td>
                    </tr>
                  </table>
                  <br>
                  <center>
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=861984816">Current 
                    Results</a>
                  </center>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code --> 
        </center>
      </td>
    </tr>
  </table>
</center>
<center>
  <hr width="600">
  <center>
    <p><font size="-1" face="Verdana,Helvetica,Arial"><a href="/"><img src="/img/mpls.gif" alt="mpls.com" align="MIDDLE" width="95" height="18" border="0"></a><a href="/order/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2"><br>
      ADVERTISE </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/business/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">BUSINESS 
      </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/cool/">COOL SPOTS</a> | <a href="/exposure/">NORTHERN EXPOSURE</a> | <a href="/kid/">KIDS</a> 
      | <a href="/media/">MEDIA</a> | <a href="/news/">NEWS 
      </a> | <a href="/politics/">POLITICS</a> | <a href="/sports/">SPORTS</a> 
      | <a href="/weather/">WEATHER</a> | <a href="/search/">SEARCH FARM</a></font> </p>
  </center>
  <center>
    <hr width="468">
    <font size="-2" face="Geneva, Arial, Helvetica, sans-serif">WEBSITE DESIGNED 
    &amp; MAINTAINED BY <a href="https://web.archive.org/web/20001026104443/http://www.digital.mpls.com/">DIGITAL CONCEPTS,</a> 
    MINNEAPOLIS, MINNESOTA </font><font face="Verdana,Futura,Helvetica,Arial"> 
    <hr width="468">
    </font><font size="-2" face="Geneva, Arial, Helvetica, sans-serif">The contents 
    of this website are   Copyright 1997-2000 DIGITAL CONCEPTS. All rights 
    reserved.<br>
    </font> 
  </center>
  <p> </p>
  </center>


<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/" target="_top">

  <area shape="default" href="/">
</map>  



<!-- ************** Start Stattrax Code ************** -->


<center>

<img src="https://web.archive.org/web/20001026104443im_/http://www.stattrax.com/cgi/stattrax.cgi?account=3757&amp;page=500&amp;graphic=1&amp;ref=(none)">

</center>


<!-- ************** End Stattrax Code ************** -->
</div>
</LegacyLayout>










