---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Minnesota Media @ mp.ls"
  description="Minnesota media directory featuring local radio, TV, and news links from the legacy mp.ls archive."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="media-titlebar"><p><span class="legacy-font legacy-font--size-5 legacy-font--face-verdana">M I N N E S O T A • M
    E D I A</span><span class="legacy-font legacy-font--size-5 legacy-font--face-verdana"> </span> </p>
</div>

<div class="media-main-wrapper">
  <table class="legacy-width-600 legacy-border-0 legacy-cellspacing-10 legacy-cellpadding-10">
    <tr>
      <td class="legacy-width-320 legacy-valign-top">
        <p class="legacy-align-center">
          </p><div class="media-surfing-image">
            <img src="/img/surfing.gif" alt="Web Site Picks" class="legacy-align-bottom legacy-width-320 legacy-height-129 legacy-border-0">
          </div>
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"><b>In a state</b> with at 
        least 100 computers for every one of its famous 10,000 lakes, it's not 
        surprising that Minnesotans have their fair share of exemplary, homegrown 
        sites on the World Wide Web. Like their elder counterparts in early mainframe 
        computer technology, Minnesota web developers are today pioneering the 
        cutting edge of website development with sites and marketing techniques 
        that are spreading throughout the World Wide Web.
        
        <br>
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">
        </span></span><div class="media-section-title">
          <b>- M I N N E S O T A - M E D I A -</b>
        </div>
        <br>
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">In many ways, the formation 
        of Internet Broadcasting and its <a href="https://web.archive.org/web/20001026104443/http://www.wcco.com/" target="_blank">Channel 
        4000</a> site for WCCO radio &amp; TV established the standard for economic 
        viability of local media sites on the Internet. It was the first to create 
        a economic model for a local media site that works. Its founders were 
        Internet visionaries and it's alliance with WCCO gave it early credibility 
        and success. The reported $100,000 banner commitments from AT&amp;T;, Byerlys 
        and Marquette Bank plus a huge on-air promotional effort by WCCO didn't 
        hurt either. 
        
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">Editor &amp; Publisher Interactive 
        recently reviewed the Channel 4000 business model with quotes from Reid 
        Johnson, CEO of the WCCO site. The article's title: <a href="https://web.archive.org/web/20001026104443/http://www.mediainfo.com/ephome/news/newshtm/stories/101797n1.htm" target="_blank">First 
        Profitable TV Web Site</a> swoons over the 300,000 visits the site receives 
        each month. This article is a good read for those of us interested in 
        the future of website media ventures.
        
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">Channel 4000 was certainly 
        not the first Minnesota media business to stake out territory online. 
        The Minneapolis Star Tribune and St. Paul Pioneer Press newspapers have 
        that distinction with early efforts at proprietary, paid service attempted 
        by both publications. In each case the paid subscription model failed.
        
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">Today, the <a href="https://web.archive.org/web/20001026104443/http://www.startribune.com/" target="_blank">Star 
        Tribune</a> offers one of the most comprehensive free sites on the web. 
        With a style that complements its newspaper, the online version of the 
        Star Tribune provides most of what you get with the version delivered 
        to your door, plus some new aspects available only to those who surf the 
        site.
        
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">The St. Paul Pioneer Press 
        has held true to its name, pioneering the online frontier with a website 
        that has changed many times over the short history of the World Wide Web. 
        Now a free subscription site, <a href="https://web.archive.org/web/20001026104443/http://www.pioneerplanet.com/" target="_blank">Pioneer 
        Planet</a> has refined its web site to include much of its daily paper 
        content plus added sections and economic alliances to create an exemplary 
        product for its Knight Ridder parent owners.
        
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">A directory site, presumptuously 
        calling itself 'Ultimate TV', has published a listing of all <a href="https://web.archive.org/web/20001026104443/http://www.ultimatetv.com/tv/us/mn/" target="_blank">Minnesota 
        Television Stations</a> along with web or Email links to those 'connected' 
        stations.
        
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">A dozen plus Minnesota newspapers 
        are currently listed in the Newspaper Association of America's directory 
        of <a href="https://web.archive.org/web/20001026104443/http://www.naa.org/hotlinks/searchResult.asp?param=MN-Minnesota&amp;City=1" target="_blank">Minnesota 
        Newspapers.</a> Check them out; it's fun to get a glimpse of Minnesota 
        life from the perspective of a local newspaper in Mankato, Rochester, 
        Winona or even St. Cloud. 
        <hr class="legacy-width-60pct">
        <br>
        <br>
        <span class="legacy-font legacy-font--size-4 legacy-font--face-verdana"><b>
        </b></span></span></span></span></span></span></span></span><div class="media-sports-callout">
          Check Out Our Sports Polls<br>
          @mp.ls
        </div>

        <p> 
        <span class="legacy-font legacy-font--size-3 legacy-font--face-verdana"><a href="/sports/">SPORTS 
        POLLING</a><span class="legacy-font legacy-font--size-3 legacy-font--face-verdana"> is featured on 
        our new Minnesota Sports page.<br>
        Vote for: <span class="legacy-font legacy-font--size-3 legacy-font--face-verdana">
        <blockquote>Who is the Most Hated Sports Figure in Minnesota history?</blockquote>
        </span> <span class="legacy-font legacy-font--size-3 legacy-font--face-verdana">
        <blockquote>With whom would you most like to talk baseball?</blockquote>
        </span> <span class="legacy-font legacy-font--size-3 legacy-font--face-verdana">
        <blockquote>And a quiz: What is the Minnesota hometown of New Orlean Saints 
          Head Athletic Trainer Dean Kleinschmidt?</blockquote>
        </span> <br>
        <br>
        <hr class="legacy-width-60pct">
        <span class="legacy-font legacy-font--size-4 legacy-font--face-verdana"><b>
        </b></span></span></span></p><div class="media-front-page-callout">
          Also, Check Out Our Front Page
        </div>

        <p> <span class="legacy-font legacy-font--size-3 legacy-font--face-verdana"><a href="/">mp.ls</a><span class="legacy-font legacy-font--size-3 legacy-font--face-verdana">
          always has something new and of interest to Minnesotans. Check us out
          and come back often. </span></span>
        </p></td>
      <td class="legacy-width-244 legacy-valign-top">
        <div class="media-poll-header">
          <img src="/img/tvpoll.gif" alt="Television Poll" class="legacy-align-bottom legacy-width-210 legacy-height-27 legacy-border-0">
        </div>
        <div class="media-polls">
          <!-- Favorite TV News Station --> <!-- Begin Poll Code --> 
          <table class="legacy-width-210 legacy-cellpadding-4 legacy-cellspacing-0 legacy-border-1">
            <tr>
              <td class="legacy-width-210">
                <div class="poll-header-img">
                  <img src="/img/tvnews.gif" class="legacy-height-25 legacy-width-200">
                </div>
              </td>
            </tr>
            <tr>
              <td class="legacy-width-210">
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="1998530233612">
                  <span class="legacy-font legacy-font--size-2 legacy-font--color-000000 legacy-font--face-verdana"><b>Your Favorite
                  TV News Station?</b></span><br>
                  <br>
                  <table class="legacy-border-0">
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/wcco.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/kstp.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/kmsp.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/kare.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                  </table>
                  <br>
                  <div class="poll-submit-section">
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=1998530233612">Current
                    Results</a>
                  </div>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code --> <!-- Smartest Female Anchor --> <!-- Begin Poll Code --> 
          <table class="legacy-width-210 legacy-cellpadding-4 legacy-cellspacing-0 legacy-border-1">
            <tr>
              <td class="legacy-width-210">
                <div class="poll-header-img">
                  <img src="/img/tvfanchor.gif" class="legacy-height-25 legacy-width-200">
                </div>
              </td>
            </tr>
            <tr>
              <td class="legacy-width-210">
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="1998615154250">
                  <span class="legacy-font legacy-font--size-2 legacy-font--color-000000 legacy-font--face-verdana"><b>Of these
                  Minneapolis television personalities, who comes across as the
                  smartest of them all?</b></span><br>
                  <br>
                  <table class="legacy-border-0">
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/amelia.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/pat.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/kalley.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/robyne.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                  </table>
                  <br>
                  <div class="poll-submit-section">
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=1998615154250">Current
                    Results</a>
                  </div>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code --> <!-- Sharpest Male Anchor --> <!-- Begin Poll Code --> 
          <table class="legacy-width-210 legacy-cellpadding-4 legacy-cellspacing-0 legacy-border-1">
            <tr>
              <td class="legacy-width-210">
                <div class="poll-header-img">
                  <img src="/img/tvmanchor.gif" class="legacy-height-25 legacy-width-200">
                </div>
              </td>
            </tr>
            <tr>
              <td class="legacy-width-210">
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="1998615164418">
                  <span class="legacy-font legacy-font--size-2 legacy-font--color-000000 legacy-font--face-verdana"><b>Of these
                  Minneapolis television personalities, who is the 'Sharpest'
                  Male Anchor?</b></span><br>
                  <br>
                  <table class="legacy-border-0">
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/chris.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/don.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/jeff.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/paul.gif" class="legacy-height-75 legacy-width-150"></td>
                    </tr>
                  </table>
                  <br>
                  <div class="poll-submit-section">
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=1998615164418">Current
                    Results</a>
                  </div>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code --> <!-- Best Weather Coverage --> <!-- Begin Poll Code --> 
          <table class="legacy-width-210 legacy-cellpadding-4 legacy-cellspacing-0 legacy-border-1">
            <tr>
              <td class="legacy-width-210">
                <div class="poll-header-img">
                  <img src="/img/tvweather.gif" class="legacy-height-25 legacy-width-200">
                </div>
              </td>
            </tr>
            <tr>
              <td class="legacy-width-210">
                <form method="get" action="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp">
                  <input type="hidden" name="ptype" value="0">
                  <input type="hidden" name="id" value="861984816">
                  <span class="legacy-font legacy-font--size-2 legacy-font--color-000000 legacy-font--face-verdana"><b>Best Television
                  Weather Coverage</b></span><br>
                  <br>
                  <table class="legacy-border-0">
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="1">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/wcco.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="2">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/kstp.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="3">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/kmsp.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                    <tr>
                      <td class="legacy-valign-top">
                        <input type="radio" name="poll" value="4">
                      </td>
                      <td class="legacy-valign-top"><img src="/img/kare.gif" class="legacy-height-22 legacy-width-123"></td>
                    </tr>
                  </table>
                  <br>
                  <div class="poll-submit-section">
                    <input type="submit" value="Submit Vote">
                    <br>
                    <a href="https://web.archive.org/web/20001026104443/http://apps2.vantagenet.com/apolls/count.asp?id=861984816">Current
                    Results</a>
                  </div>
                </form>
              </td>
            </tr>
          </table>
          <!-- End Poll Code -->
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="media-footer">
  <hr class="legacy-width-600">
  <LegacyFooter />
  
  </div>
<!-- ************** Start Stattrax Code ************** -->


<div class="stattrax-tracker">

<img src="https://web.archive.org/web/20001026104443im_/http://www.stattrax.com/cgi/stattrax.cgi?account=3757&amp;page=500&amp;graphic=1&amp;ref=(none)">

</div>


<!-- ************** End Stattrax Code ************** -->
</div>
</LegacyLayout>










