---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Business Network Advertising Order Form"
  description="Order form for advertising on the MPLS.com Minnesota Business Network."
  robots="noindex, nofollow"
>
<div class="mpls-legacy">
<LegacyHeader />
<div class="order-main-content">
  <table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="180" valign="TOP">
        <p align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="5">Business
          Network <br>
          Advertising Order Form</font></b>
        <font face="Verdana,Helvetica,Arial" size="4">
        <form name="GstBK" method="POST" action="https://web.archive.org/web/20001202211400/http://wwwns.mcg.net/cgi-bin/cgigen.bat">
          <div class="order-form-receiver">
            <input type="hidden" name="receiver" value="hansen@mpls.com">
          </div>
          <p align="center"> <font face="Verdana,Helvetica,Arial" size="2"><b>Fill
            in the following Email form. <br>
            We'll add your listing to the Business Network @mpls.com <br>
            and invoice your company via U.S. Mail.</b></font>
          </p><div class="order-form-spacer">
            <font face="Verdana,Helvetica,Arial" size="2"> </font>
          </div>
          <font face="Verdana,Helvetica,Arial" size="2">
          <p align="center"><b>Thanks for becoming part of the Business Network
            @mpls.com.</b></p>
          </font><div class="order-form-fields">
            <br>
            <table border="0" cellspacing="2" cellpadding="0" align="center">
              <tr> 
                <td>Company: </td>
                <td> 
                  <input type="text" name="Company" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Contact Person: </td>
                <td> 
                  <input type="text" name="Contact" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Title: </td>
                <td> 
                  <input type="text" name="Title" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Address: </td>
                <td> 
                  <input type="text" name="Address" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Address2: </td>
                <td> 
                  <input type="text" name="Address2" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>City: </td>
                <td> 
                  <input type="text" name="City" size="18" maxlength="20">
                  State: 
                  <input type="text" name="State" size="2" maxlength="2">
                  Zip: 
                  <input type="text" name="Zip" size="5" maxlength="5">
                </td>
              </tr>
              <tr> 
                <td>Email Address: </td>
                <td> 
                  <input type="text" name="Email" size="40," maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Phone: </td>
                <td> 
                  <input type="text" name="Phone" size="12," maxlength="12">
                </td>
              </tr>
              <tr> 
                <td colspan="2"> 
                  <p align="left">Please add my business to the Business Network 
                    @mpls.com</p>
                  <p align="left">Check requested listing:<br>
                               
                    <input type="checkbox" name="Buy_Desc" value="Checked">
                      <font size="2">Business Name &amp; Description<br>
                                       
                    (12 month listing for $25)</font></p>
                  <p align="left">           
                    <input type="checkbox" name="Buy_Desc_Ban" value="Checked">
                      <font size="2">Business Name &amp; Description 
                    plus Banner Advertisement<br>
                                       (12 
                    month listing for $50)</font></p>
                  <p align="left">           
                    <input type="checkbox" name="Mpls_Ban" value="Checked">
                      <font size="2">Banner Advertisement in rotation 
                    throughout mpls.com<br>
                                       Option 
                    1 
                    <input type="checkbox" name="Monthly" value="Checked">
                    ($20 monthly)<br>
                                       Option 
                    2 
                    <input type="checkbox" name="Annual" value="Checked">
                    ($200 annual)</font></p>
                  <p align="left"><font size="2">            
                    <input type="checkbox" name="Ban_Create" value="Checked">
                    Banner Ad Creation ($30 production fee.)</font></p>
                  <p align="left"><b>Business Name:</b> <br>
                    <input type="text" name="BizName" size="60,">
                    <font size="1"><br>
                    Your business name as you want it to appear in the listing.<br>
                    </font></p>
                  <p><b>Business Website URL:</b> <br>
                    <input type="text" name="URL" size="60,">
                    <font size="1"><br>
                    The URL for your business website.<br>
                    </font> <br>
                    <b>Business Description:</b> <br>
                    <textarea name="Description" rows="6" cols="61"></textarea>
                    <font size="1"><br>
                    Please limit your description to 35 words or less. </font></p>
                  <p align="left"><b>URL of Your Banner Ad</b> 
                    <input type="text" name="Banner_URL" size="30,">
                    <font size="2"><br>
                    (URL location of the banner ad you want to utilize.</font><font size="2"> 
                    <b>Note</b>: Banners must be 468x60 dimension and 12k maximum 
                    size.)</font></p>
                </td>
              </tr>
            </table>
          </div>
          <p align="center">
            <input type="submit" name="SUBMIT2" value="Submit Information" align="middle">
            <input type="reset" name="clearform2" value="Cancel" align="middle">
          </p>
          </form></font>

         </p></td>
    </tr>
  </table>
</div>
<hr width="600" align="center">
<p align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="/business/">BACK 
  TO MINNEAPOLIS BUSINESS NETWORK</a></font></p>
<p align="center"><font size="-1" face="Verdana,Helvetica,Arial"><a href="/"><img src="/img/mpls.gif" alt="mpls.com" align="MIDDLE" width="95" height="18" border="0"></a><a href="/order/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2"><br>
  ADVERTISE </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
  <a href="/business/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">BUSINESS 
  </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
  <a href="/cool/">COOL SPOTS</a> | <a href="/exposure/">NORTHERN EXPOSURE</a> | <a href="/kid/">KIDS</a> 
  | <a href="/media/">MEDIA</a> | <a href="/news/">NEWS </a> 
  | <a href="/politics/">POLITICS</a> | <a href="/sports/">SPORTS</a> 
  | <a href="/weather/">WEATHER</a> | <a href="/search/">SEARCH FARM</a></font> </p>
<LegacyFooter />
</div>
</LegacyLayout>

















