---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Business Network Advertising Order Form"
  description="Order form for advertising on the mp.ls Minnesota Business Network."
  robots="noindex, nofollow"
>
<div class="mpls-legacy">
<LegacyHeader />
<div class="order-main-content">
  <table class="legacy-width-600 legacy-border-0 legacy-cellspacing-0 legacy-cellpadding-0">
    <tr>
      <td class="legacy-width-180 legacy-valign-top">
        <p class="legacy-align-center"><b><span class="legacy-font legacy-font--size-5 legacy-font--face-verdana">Business
          Network <br>
          Advertising Order Form</span></b>
        <span class="legacy-font legacy-font--size-4 legacy-font--face-verdana">
        <form name="GstBK" method="POST" action="https://web.archive.org/web/20001202211400/http://wwwns.mcg.net/cgi-bin/cgigen.bat">
          <div class="order-form-receiver">
            <input type="hidden" name="receiver" value="hansen@mp.ls">
          </div>
          <p class="legacy-align-center"> <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"><b>Fill
            in the following Email form. <br>
            We'll add your listing to the Business Network @mp.ls <br>
            and invoice your company via U.S. Mail.</b></span>
          </p><div class="order-form-spacer">
            <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"> </span>
          </div>
          <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana">
          <p class="legacy-align-center"><b>Thanks for becoming part of the Business Network
            @mp.ls.</b></p>
          </span><div class="order-form-fields">
            <br>
            <table class="legacy-border-0 legacy-cellspacing-2 legacy-cellpadding-0 legacy-align-center">
              <tr> 
                <td>Company: </td>
                <td> 
                  <input type="text" name="Company" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Contact Person: </td>
                <td> 
                  <input type="text" name="Contact" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Title: </td>
                <td> 
                  <input type="text" name="Title" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Address: </td>
                <td> 
                  <input type="text" name="Address" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Address2: </td>
                <td> 
                  <input type="text" name="Address2" size="40" maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>City: </td>
                <td> 
                  <input type="text" name="City" size="18" maxlength="20">
                  State: 
                  <input type="text" name="State" size="2" maxlength="2">
                  Zip: 
                  <input type="text" name="Zip" size="5" maxlength="5">
                </td>
              </tr>
              <tr> 
                <td>Email Address: </td>
                <td> 
                  <input type="text" name="Email" size="40," maxlength="40">
                </td>
              </tr>
              <tr> 
                <td>Phone: </td>
                <td> 
                  <input type="text" name="Phone" size="12," maxlength="12">
                </td>
              </tr>
              <tr> 
                <td colspan="2"> 
                  <p class="legacy-align-left">Please add my business to the Business Network 
                    @mp.ls</p>
                  <p class="legacy-align-left">Check requested listing:<br>
                               
                    <input type="checkbox" name="Buy_Desc" value="Checked">
                      <span class="legacy-font legacy-font--size-2">Business Name &amp; Description<br>
                                       
                    (12 month listing for $25)</span></p>
                  <p class="legacy-align-left">           
                    <input type="checkbox" name="Buy_Desc_Ban" value="Checked">
                      <span class="legacy-font legacy-font--size-2">Business Name &amp; Description 
                    plus Banner Advertisement<br>
                                       (12 
                    month listing for $50)</span></p>
                  <p class="legacy-align-left">           
                    <input type="checkbox" name="Mpls_Ban" value="Checked">
                      <span class="legacy-font legacy-font--size-2">Banner Advertisement in rotation 
                    throughout mp.ls<br>
                                       Option 
                    1 
                    <input type="checkbox" name="Monthly" value="Checked">
                    ($20 monthly)<br>
                                       Option 
                    2 
                    <input type="checkbox" name="Annual" value="Checked">
                    ($200 annual)</span></p>
                  <p class="legacy-align-left"><span class="legacy-font legacy-font--size-2">            
                    <input type="checkbox" name="Ban_Create" value="Checked">
                    Banner Ad Creation ($30 production fee.)</span></p>
                  <p class="legacy-align-left"><b>Business Name:</b> <br>
                    <input type="text" name="BizName" size="60,">
                    <span class="legacy-font legacy-font--size-1"><br>
                    Your business name as you want it to appear in the listing.<br>
                    </span></p>
                  <p><b>Business Website URL:</b> <br>
                    <input type="text" name="URL" size="60,">
                    <span class="legacy-font legacy-font--size-1"><br>
                    The URL for your business website.<br>
                    </span> <br>
                    <b>Business Description:</b> <br>
                    <textarea name="Description" rows="6" cols="61"></textarea>
                    <span class="legacy-font legacy-font--size-1"><br>
                    Please limit your description to 35 words or less. </span></p>
                  <p class="legacy-align-left"><b>URL of Your Banner Ad</b> 
                    <input type="text" name="Banner_URL" size="30,">
                    <span class="legacy-font legacy-font--size-2"><br>
                    (URL location of the banner ad you want to utilize.</span><span class="legacy-font legacy-font--size-2"> 
                    <b>Note</b>: Banners must be 468x60 dimension and 12k maximum 
                    size.)</span></p>
                </td>
              </tr>
            </table>
          </div>
          <p class="legacy-align-center">
            <input type="submit" name="SUBMIT2" value="Submit Information" class="legacy-align-middle">
            <input type="reset" name="clearform2" value="Cancel" class="legacy-align-middle">
          </p>
          </form></span>

         </p></td>
    </tr>
  </table>
</div>
<hr class="legacy-width-600 legacy-align-center">
<p class="legacy-align-center"><span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"><a href="/business/">BACK 
  TO MINNEAPOLIS BUSINESS NETWORK</a></span></p>
<p class="legacy-align-center"><span class="legacy-font legacy-font--size--1 legacy-font--face-verdana"><a href="/"><img src="/img/mpls.gif" alt="mp.ls" class="legacy-align-middle legacy-width-95 legacy-height-18 legacy-border-0"></a><a href="/order/"><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva"><br>
  ADVERTISE </span></a></span><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva">| 
  <a href="/business/"><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva">BUSINESS 
  </span></a></span><span class="legacy-font legacy-font--size--2 legacy-font--face-geneva">| 
  <a href="/cool/">COOL SPOTS</a> | <a href="/exposure/">NORTHERN EXPOSURE</a> | <a href="/kid/">KIDS</a> 
  | <a href="/media/">MEDIA</a> | <a href="/news/">NEWS </a> 
  | <a href="/politics/">POLITICS</a> | <a href="/sports/">SPORTS</a> 
  | <a href="/weather/">WEATHER</a> | <a href="/search/">SEARCH FARM</a></span> </p>
<LegacyFooter />
</div>
</LegacyLayout>

















