---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Search Farm @ mp.ls"
  description="Search tools and legacy web directories from the original mp.ls search farm."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="search-main-content"><p><img src="/img/farm.gif" class="legacy-width-600 legacy-height-183"> </p>
  <p><span class="legacy-font legacy-font--size-5 legacy-font--face-verdana">S E A R C H</span><span class="legacy-font legacy-font--size-5 legacy-font--face-verdana">
    </span><span class="legacy-font legacy-font--size-5 legacy-font--face-verdana">F A R M<br>
    </span><span class="legacy-font legacy-font--size-3 legacy-font--face-verdana">Resources to harvest
    the bounty of the World Wide Web</span></p>
  <table class="legacy-width-600 legacy-border-0 legacy-cellpadding-10 legacy-align-center">
    <tr> 
      <td class="legacy-width-200">
        <p><span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"><b><span class="legacy-font legacy-font--size-3">World 
          Wide Web Search:</span></b></span><br>
          <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"><a href="https://search.yahoo.com/">Yahoo</a><br>
          <a href="https://www.excite.com/">Excite</a><br>
          <a href="https://www.lycos.com/">Lycos</a><br>
          <a href="https://web.archive.org/web/20001006090709/http://www.altavista.com/">Alta Vista</a><br>
          <a href="https://www.webcrawler.com/">WebCrawler</a><br>
          <a href="https://www.hotbot.com/">HotBot</a><br>
          <a href="https://web.archive.org/web/19971211234815/http://www3.infoseek.com/">Infoseek</a><br>
          <a href="https://web.archive.org/web/19990421195605/http://www.savvysearch.com/">Savvy Search</a><br>
          <a href="https://isp.netscape.com/">Netscape 
          NetSearch</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://isurf.yahoo.com/">Image Surfer</a><br>
          <a href="https://www.cnet.com/search/">c/net Search</a><br>
          </span></p>
        
        
        <p><span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"> </span> </p>
      </td>
      ye <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"> </span> 
        <p><span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"><b><span class="legacy-font legacy-font--size-3">People 
          &amp; Business Search:</span></b><br>
          <a href="https://web.archive.org/web/20001018001804/http://yp.uswest.com/">US West YellowPages</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.switchboard.com/">Switchboard Directory</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.bigbook.com/">BigBook</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www1.bigyellow.com/search.rote">Big Yellow</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.yahoo.com/searchb/?http://yp.yahoo.com/yt.hm?FAM=yahoo&amp;SEC=start&amp;CMD=FILL">Yahoo 
          Yellow Pages</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.yahoo.com/searchb/?http://www.yahoo.com/search/people/">Yahoo 
          People Search</a><br>
          </span></p>
        
        <div class="search-yahoo-logo"><span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"> <a href="https://web.archive.org/web/20001018001804/http://minn.yahoo.com/"><img src="/img/yahoo.gif" alt="Yahoo" class="legacy-align-absmiddle legacy-width-125 legacy-height-40 legacy-border-0"></a>
          </span><span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"> </span></div>
        <span class="legacy-font legacy-font--size-2 legacy-font--face-verdana"> 
        <p><span class="legacy-font legacy-font--size-1 legacy-font--face-verdana"><a href="https://web.archive.org/web/20001018001804/http://minn.yahoo.com/">Yahoo! 
          Twin Cities </a>is an excellent site for discovering things about the 
          Twin Cities on the Web. The site has listed mp.ls in their City Guide 
          Section.</span> 
        </p></span></td>
      <td class="legacy-width-200">
        <p><span class="legacy-font legacy-font--face-verdana"><b><span class="legacy-font legacy-font--size-3">Maps, Routes 
          &amp; Directions:</span></b><span class="legacy-font legacy-font--size-3"><br>
          </span> <a href="https://web.archive.org/web/20001018001804/http://www.mapquest.com/"><span class="legacy-font legacy-font--size-2">MapQuest</span></a><span class="legacy-font legacy-font--size-2"><br>
          <a href="https://web.archive.org/web/20001018001804/http://route80.delorme.com/">CyberRouter</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.mapsonus.com/index.cgi/adsrc=NG6">Maps On Us</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.yahoo.com/searchb/?http://maps.yahoo.com/yahoo/">Yahoo 
          City Maps</a><br>
          </span><span class="legacy-font legacy-font--size-1"> </span> </span></p>
        
        <p><span class="legacy-font legacy-font--face-verdana"><b><span class="legacy-font legacy-font--size-3 legacy-font--color-000000">Internet 
          Discussion <br>
          Group Search:</span></b><br>
          <a href="https://web.archive.org/web/19971009004526/http://www2.dejanews.com/"><span class="legacy-font legacy-font--size-2">DejaNews<br>
          </span></a></span></p>
        <p><span class="legacy-font legacy-font--face-verdana"> <b><span class="legacy-font legacy-font--size-3">Miscellaneous 
          Search:</span></b><span class="legacy-font legacy-font--size-3"><br>
          </span> <a href="https://web.archive.org/web/20001018001804/http://www.networksolutions.com/purchase/"><span class="legacy-font legacy-font--size-2">Domain 
          Names</span></a><span class="legacy-font legacy-font--size-2"><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.looksmart.com/">LookSmart</a><br>
          </span> </span></p>
      </td>
    </tr>
  </table>
  <table class="legacy-width-600 legacy-border-1 legacy-cellpadding-10">
    <tr>
      <td class="legacy-width-263">
        <div class="search-trivia-header"><span><b><span class="legacy-font legacy-font--face-verdana">Why
          is that search engine called<br>
          "Yahoo!</span></b></span><span class="legacy-font legacy-font--face-verdana"><b>"?</b></span></div>
        <p><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana"> <i><b>The 
          Answer:</b></i> <br>
          One legend about the origin of the name is that it was a playful acronym 
          for "Yet Another Hierarchical Officious Orable."</span></p>
        <p><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">Yahoo! 
          co-founder Jerry Yang, however, says the founders picked it out of a 
          dictionary. "We thought it fit well with what we were doing. It was 
          irreverent, it was reflective of the Wild West nature of the Internet, 
          and a lot of people found it easy to remember, which we thought was 
          probably good."</span></p>
        </td>
      <td class="legacy-width-291">
        <div class="search-trivia-header"><b><span class="legacy-font legacy-font--face-verdana">Why
          is that search engine called<br>
          &quot;Lycos&quot;?</span></b></div>
        <p class="legacy-align-left"> <span class="legacy-font legacy-font--size--2 legacy-font--face-verdana"><b><i>The 
          Answer: <br>
          </i> </b> According to the company's public relations department, Lycos 
          is short for "Lycosidae," the name of a family of very fast-running 
          spiders. </span></p>
        <p class="legacy-align-left"><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">A 
          spider, for those of you who aren't familiar with Internet lingo, is 
          a program used by search engines to index Web sites. </span></p>
        <p class="legacy-align-left"><span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">So 
          I guess that funny little name is appropriate after all.</span></p>
        </td>
    </tr>
  </table>
  </div>
<div class="search-footer">
  <hr class="legacy-width-600">
  <LegacyFooter />
  
  <span class="legacy-font legacy-font--size--2 legacy-font--face-verdana">
</span>
</div>
<div class="stattrax-tracker">

<img src="https://web.archive.org/web/20001018001804im_/http://www.stattrax.com/cgi/stattrax.cgi?account=3757&amp;page=600&amp;graphic=1&amp;ref=(none)">

</div>
</div>
</LegacyLayout>


















