---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
import LegacyHeader from "../components/LegacyHeader.astro";
import LegacyFooter from "../components/LegacyFooter.astro";
---
<LegacyLayout
  title="Search Farm @ mp.ls"
  description="Search tools and legacy web directories from the original mp.ls search farm."
>
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="search-main-content"><p><img src="/img/farm.gif" width="600" height="183"> </p>
  <p><font face="Verdana,Helvetica,Arial" size="5">S E A R C H</font><font face="Verdana, Arial, Helvetica, sans-serif" size="5">
    </font><font face="Verdana,Helvetica,Arial" size="5">F A R M<br>
    </font><font face="Verdana,Helvetica,Arial" size="3">Resources to harvest
    the bounty of the World Wide Web</font></p>
  <table width="600" border="0" cellpadding="10" align="center">
    <tr> 
      <td width="200">
        <p><font face="Verdana,Helvetica,Arial" size="2"><b><font size="3">World 
          Wide Web Search:</font></b></font><br>
          <font face="Verdana,Helvetica,Arial" size="2"><a href="https://web.archive.org/web/20001018001804/http://www.yahoo.com/">Yahoo</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.excite.com/">Excite</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.lycos.com/">Lycos</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.altavista.digital.com/">Alta Vista</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.webcrawler.com/">WebCrawler</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.hotbot.com/">HotBot</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.infoseek.com/">Infoseek</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://guaraldi.cs.colostate.edu:2000/form">Savvy Search</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://home.netscape.com/escapes/search/ntsrchrnd-2.html">Netscape 
          NetSearch</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://isurf.yahoo.com/">Image Surfer</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.search.com/">c/net Search</a><br>
          </font></p>
        
        
        <p><font face="Verdana,Helvetica,Arial" size="2"> </font> </p>
      </td>
      <td width="200"> <font face="Verdana,Helvetica,Arial" size="2"> </font> 
        <p><font face="Verdana,Helvetica,Arial" size="2"><b><font size="3">People 
          &amp; Business Search:</font></b><br>
          <a href="https://web.archive.org/web/20001018001804/http://yp.uswest.com/">US West YellowPages</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.switchboard.com/">Switchboard Directory</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.bigbook.com/">BigBook</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www1.bigyellow.com/search.rote">Big Yellow</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.yahoo.com/searchb/?http://yp.yahoo.com/yt.hm?FAM=yahoo&amp;SEC=start&amp;CMD=FILL">Yahoo 
          Yellow Pages</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.yahoo.com/searchb/?http://www.yahoo.com/search/people/">Yahoo 
          People Search</a><br>
          </font></p>
        
        <div class="search-yahoo-logo"><font face="Verdana,Helvetica,Arial" size="2"> <a href="https://web.archive.org/web/20001018001804/http://minn.yahoo.com/"><img src="/img/yahoo.gif" alt="Yahoo" align="absmiddle" width="125" height="40" border="0"></a>
          </font><font face="Verdana,Helvetica,Arial" size="2"> </font></div>
        <font face="Verdana,Helvetica,Arial" size="2"> 
        <p><font face="Verdana,Helvetica,Arial" size="1"><a href="https://web.archive.org/web/20001018001804/http://minn.yahoo.com/">Yahoo! 
          Twin Cities </a>is an excellent site for discovering things about the 
          Twin Cities on the Web. The site has listed mp.ls in their City Guide 
          Section.</font> 
        </p></font></td>
      <td width="200">
        <p><font face="Verdana,Helvetica,Arial"><b><font size="3">Maps, Routes 
          &amp; Directions:</font></b><font size="3"><br>
          </font> <a href="https://web.archive.org/web/20001018001804/http://www.mapquest.com/"><font size="2">MapQuest</font></a><font size="2"><br>
          <a href="https://web.archive.org/web/20001018001804/http://route80.delorme.com/">CyberRouter</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.mapsonus.com/index.cgi/adsrc=NG6">Maps On Us</a><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.yahoo.com/searchb/?http://maps.yahoo.com/yahoo/">Yahoo 
          City Maps</a><br>
          </font><font size="1"> </font> </font></p>
        
        <p><font face="Verdana,Helvetica,Arial"><b><font color="#000000" size="3">Internet 
          Discussion <br>
          Group Search:</font></b><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.dejanews.com/"><font size="2">DejaNews<br>
          </font></a></font></p>
        <p><font face="Verdana,Helvetica,Arial"> <b><font size="3">Miscellaneous 
          Search:</font></b><font size="3"><br>
          </font> <a href="https://web.archive.org/web/20001018001804/http://www.networksolutions.com/purchase/"><font size="2">Domain 
          Names</font></a><font size="2"><br>
          <a href="https://web.archive.org/web/20001018001804/http://www.looksmart.com/">LookSmart</a><br>
          </font> </font></p>
      </td>
    </tr>
  </table>
  <table width="600" border="1" cellpadding="10">
    <tr>
      <td width="263">
        <div class="search-trivia-header"><font face="Arial, Helvetica, sans-serif"><b><font face="Verdana, Arial, Helvetica, sans-serif">Why
          is that search engine called<br>
          "Yahoo!</font></b></font><font face="Verdana, Arial, Helvetica, sans-serif"><b>"?</b></font></div>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> <i><b>The 
          Answer:</b></i> <br>
          One legend about the origin of the name is that it was a playful acronym 
          for "Yet Another Hierarchical Officious Orable."</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Yahoo! 
          co-founder Jerry Yang, however, says the founders picked it out of a 
          dictionary. "We thought it fit well with what we were doing. It was 
          irreverent, it was reflective of the Wild West nature of the Internet, 
          and a lot of people found it easy to remember, which we thought was 
          probably good."</font></p>
        </td>
      <td width="291">
        <div class="search-trivia-header"><b><font face="Verdana, Arial, Helvetica, sans-serif">Why
          is that search engine called<br>
          &quot;Lycos&quot;?</font></b></div>
        <p align="left"> <font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><b><i>The 
          Answer: <br>
          </i> </b> According to the company's public relations department, Lycos 
          is short for "Lycosidae," the name of a family of very fast-running 
          spiders. </font></p>
        <p align="left"><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">A 
          spider, for those of you who aren't familiar with Internet lingo, is 
          a program used by search engines to index Web sites. </font></p>
        <p align="left"><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">So 
          I guess that funny little name is appropriate after all.</font></p>
        </td>
    </tr>
  </table>
  </div>
<div class="search-footer">
  <hr width="600">
  <LegacyFooter />
  
  <font face="Verdana, Arial, Helvetica, sans-serif" size="-2">
</font>
</div>
<div class="stattrax-tracker">

<img src="https://web.archive.org/web/20001018001804im_/http://www.stattrax.com/cgi/stattrax.cgi?account=3757&amp;page=600&amp;graphic=1&amp;ref=(none)">

</div>
</div>
</LegacyLayout>


















