---
// @ts-nocheck
import LegacyLayout from "../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Minnesota Weather @ mpls.com">
<div class="mpls-legacy">
<center><img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br></center>
<center>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130"><font face="Verdana,Helvetica,Arial" size="2"></font><center>Minneapolis<br>Minnesota USA</center></td>
<td width="340"><center><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br></center></td>
<td align="RIGHT" valign="CENTER" width="130"><font face="Verdana,Helvetica,Arial" size="2"></font><center>Minnesota's Home<br>On The Internet</center></td>
</tr>
</table>
</center>
<center><img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"></center>
<center>
  <img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar">
</center>
<center><font face="Verdana,Helvetica,Arial" size="6"><b>MINNESOTA WEATHER</b></font></center>
<hr width="40%">
<br>
<center>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td width="600">
<center>
<table class="weather-widget" border="1" cellpadding="6" cellspacing="0" width="420">
  <tr>
    <td bgcolor="#000000">
      <font face="Verdana,Helvetica,Arial" size="2" color="#FFFFFF"><b>MINNEAPOLIS LIVE WEATHER</b></font>
    </td>
  </tr>
  <tr>
    <td>
      <table border="0" cellpadding="4" cellspacing="0" width="100%">
        <tr>
          <td width="50%"><font face="Verdana,Helvetica,Arial" size="2"><b>Temperature:</b></font></td>
          <td><font face="Verdana,Helvetica,Arial" size="2"><span id="wx-temp">Loading...</span></font></td>
        </tr>
        <tr>
          <td><font face="Verdana,Helvetica,Arial" size="2"><b>Conditions:</b></font></td>
          <td><font face="Verdana,Helvetica,Arial" size="2"><span id="wx-cond">Loading...</span></font></td>
        </tr>
        <tr>
          <td><font face="Verdana,Helvetica,Arial" size="2"><b>Wind:</b></font></td>
          <td><font face="Verdana,Helvetica,Arial" size="2"><span id="wx-wind">Loading...</span></font></td>
        </tr>
        <tr>
          <td><font face="Verdana,Helvetica,Arial" size="2"><b>Updated:</b></font></td>
          <td><font face="Verdana,Helvetica,Arial" size="2"><span id="wx-time">--</span></font></td>
        </tr>
      </table>
      <noscript>
        <p><font face="Verdana,Helvetica,Arial" size="1">Enable JavaScript to load live conditions.</font></p>
      </noscript>
    </td>
  </tr>
</table>
<br>
<a href="https://web.archive.org/web/19981203054014/http://208.217.109.20/weather/index/sites/national?site=&amp;city=Minneapolis%2FSt.+Paul+MN"><font color="#0000FF" face="Verdana,Helvetica,Arial" size="2">Current conditions and five-day forecast for Minneapolis &amp; St. Paul</font></a><br><br>
<a href="https://web.archive.org/web/19981203054014/http://www.intellicast.com/weather/msp/radar/"><font color="#0000FF" face="Verdana,Helvetica,Arial" size="2">Midwest Radar Image from Intellicast</font></a><br><br>
<a href="https://web.archive.org/web/19981203054014/http://www.met.tamu.edu/personnel/students/mkay/warnings_mn.html"><font color="#0000FF" face="Verdana,Helvetica,Arial" size="2">Current severe weather watches &amp; warnings for Minneapolis and the region.</font></a><br><br>
<a href="https://web.archive.org/web/19981203054014/http://www.crh.noaa.gov/mpx/climate.html"><font color="#0000FF" face="Verdana,Helvetica,Arial" size="2">Current and historical climate records and summaries for Minneapolis and the region.</font></a><br><br>
<a href="https://web.archive.org/web/19981203054014/http://www.crh.noaa.gov/mpx/mpxnew.html"><font color="#0000FF" face="Verdana,Helvetica,Arial" size="2">Homepage for National Weather Service office serving the Twin Cities</font></a><br><br>
</center>
</td>
</tr>
</table>
</center>
<br>
<center>
<p><font face="Verdana,Helvetica,Arial" size="3"><b>INFRARED SATELLITE IMAGE</b></font><br>
<img src="/img/ir.gif"><br></p>
<p><font face="Verdana,Helvetica,Arial" size="3"><b>VISIBLE SATELLITE IMAGE</b></font><br>
<img src="/img/vis.gif"><br></p>
<p><font face="Verdana,Helvetica,Arial" size="3"><b>ACCUWEATHER'S NEXRAD NATIONAL RADAR</b></font><br>
<img src="/img/usrad.gif"><br></p>
<p><font face="Verdana,Helvetica,Arial" size="3"><b>ACCUWEATHER'S NATIONAL SATELLITE VIEW</b></font><br>
<img src="https://web.archive.org/web/19981203054014im_/http://208.217.109.20/data/ussat.gif"><br></p>
<p><font face="Verdana,Helvetica,Arial" size="3"><b>ACCUWEATHER'S 24-HOUR NATIONAL FORECAST</b></font><br>
<img src="https://web.archive.org/web/19981203054014im_/http://208.217.109.20/data/todtemp.gif"><br></p>
</center>
<center><hr width="600"></center>
<center>
<a href="/"><img align="MIDDLE" alt="mpls.com" border="0" height="18" src="/img/mpls.gif" width="95"></a></center>
<center>
  <font size="-1" face="Verdana,Helvetica,Arial"><a href="/"><img src="/img/mpls.gif" alt="mpls.com" align="MIDDLE" width="95" height="18" border="0"></a><a href="/order/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2"><br>
    ADVERTISE </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
    <a href="/business/">BUSINESS </a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
    <a href="/cool/">COOL SPOTS</a> | <a href="/exposure/">NORTHERN EXPOSURE</a> | <a href="/kid/">KIDS</a> 
    | <a href="/media/">MEDIA</a> | <a href="/news/">NEWS </a> 
    | <a href="/politics/">POLITICS</a> | <a href="/sports/">SPORTS</a> 
    | <a href="/weather/">WEATHER</a> | <a href="/search/">SEARCH FARM</a></font> 
</center>
</div>

<map name="titlebar">
  <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
  <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
  <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
  <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
  <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
  <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
  <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
  <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
  <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
  <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
  <area shape="rect" coords="0,0,90,19" href="/" target="_top">
  <area shape="default" href="/">
</map>
</LegacyLayout>

<script>
  const weatherCodeMap = {
    0: "Clear",
    1: "Mostly Clear",
    2: "Partly Cloudy",
    3: "Overcast",
    45: "Fog",
    48: "Rime Fog",
    51: "Light Drizzle",
    53: "Drizzle",
    55: "Heavy Drizzle",
    61: "Light Rain",
    63: "Rain",
    65: "Heavy Rain",
    71: "Light Snow",
    73: "Snow",
    75: "Heavy Snow",
    80: "Rain Showers",
    81: "Showers",
    82: "Heavy Showers",
    95: "Thunderstorm",
    96: "Thunderstorm + Hail",
    99: "Heavy Thunderstorm",
  };

  const setText = (id, value) => {
    const el = document.getElementById(id);
    if (el) el.textContent = value;
  };

  const fetchWeather = async () => {
    try {
      const url = "https://api.open-meteo.com/v1/forecast?latitude=44.9778&longitude=-93.2650&current=temperature_2m,weather_code,wind_speed_10m&temperature_unit=fahrenheit&wind_speed_unit=mph";
      const response = await fetch(url, { cache: "no-store" });
      if (!response.ok) throw new Error("bad response");
      const data = await response.json();
      const current = data?.current;
      if (!current) throw new Error("no data");
      const temp = Math.round(current.temperature_2m);
      const wind = Math.round(current.wind_speed_10m);
      const cond = weatherCodeMap[current.weather_code] || "Conditions";
      const updated = current.time ? current.time.replace("T", " ") : "--";
      setText("wx-temp", `${temp}°F`);
      setText("wx-cond", cond);
      setText("wx-wind", `${wind} mph`);
      setText("wx-time", updated);
    } catch {
      setText("wx-temp", "Unavailable");
      setText("wx-cond", "Unavailable");
      setText("wx-wind", "Unavailable");
      setText("wx-time", "--");
    }
  };

  fetchWeather();
</script>

















