---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Boating Safety - MP.LS">
<div class="mpls-legacy">
<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/legacy/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>
<div class="wp-block-group has-base-background-color has-background is-layout-constrained wp-container-core-group-is-layout-41c06ba8 wp-block-group-is-layout-constrained">
<div class="titlebar"><a href="/legacy/"><img decoding="async" src="/img/menu-logo.jpg" alt="mpls.com" width="95" height="18"></a> | <a href="/legacy/">BUSINESS</a> | <a href="/legacy/">COOL SPOTS</a> | <a href="/legacy/">EXPOSURE</a> | <a href="/legacy/">KIDS</a> | <a href="/legacy/">MEDIA</a> | <a href="/legacy/">NEWS</a> | <a href="/legacy/">POLITICS</a> | <a href="/legacy/">SPORTS</a> | <a href="/legacy/">WEATHER</a> | <a href="/legacy/">SEARCH</a></div>



<div class="wp-block-group is-content-justification-center is-nowrap is-layout-flex wp-container-core-group-is-layout-ff976b70 wp-block-group-is-layout-flex">
<div class="wp-block-group wp-container-content-29dca9c1 is-vertical is-layout-flex wp-container-core-group-is-layout-2d729e81 wp-block-group-is-layout-flex">
<figure class="wp-block-image size-full is-resized"><img decoding="async" width="300" height="150" src="/img/boat.gif" alt="" class="wp-image-594" style="width:291px;height:auto"></figure>



<figure class="wp-block-image size-full"><img fetchpriority="high" decoding="async" width="300" height="248" src="/img/pfd.jpg" alt="" class="wp-image-596"></figure>
</div>



<div class="wp-block-group wp-container-content-29dca9c1 is-vertical is-content-justification-center is-layout-flex wp-container-core-group-is-layout-ce155fab wp-block-group-is-layout-flex">
<figure class="wp-block-image size-full"><img loading="lazy" decoding="async" width="75" height="108" src="/img/jacket.gif" alt="" class="wp-image-595"></figure>



<p><strong>How can you be safe while you're boating?</strong></p>



<p>Wear a P.F.D. (Personal Flotation Device, sometimes called a life jacket) even if you have been on a boat before and can swim.</p>



<p>Plan ahead and check the weather forecast for the weather when you go boating or go on a boating trip for the weekend or just a ride.</p>



<p>You have to be 16 years or older to drive a boat. To drive a boat you also have to take a mail-in test that you mail in when you're done taking the test. Then you're approved to drive a boat.</p>



<p>It's against the law if you pass a buoy if you don't read or obey the buoy. It is against the law to drive a boat in a swimming area with a sign that says  KEEP OUT... SWIMMING AREA .</p>



<p>It's against the law to drive a boat loaded with too many people. You can not drive irresponsibly. You need to sit in the boat area and not lean over the edge.</p>
</div>
</div>



<p class="has-text-align-center" style="font-size:10px"><a href="/legacy/" data-type="page" data-id="554">HomePage </a>| <a href="/legacy/" data-type="page" data-id="570">Water Skiing</a> | <a href="/legacy/" data-type="page" data-id="561">Swimming</a>| <a href="/legacy/" data-type="page" data-id="581">Hypothermia</a> | <a href="/legacy/" data-type="page" data-id="586">Ice Safety</a> | <a href="/legacy/" data-type="page" data-id="592">Boating Safety</a> | <a href="/legacy/" data-type="page" data-id="605">Ranger Hansen</a></p>
</div>



<p></p>
</div>
</LegacyLayout>









