---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Exposure - MP.LS">
<div class="mpls-legacy">
<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>
<p><!-- Header Bar --></p>
<div class="cool-header">
<div class="cool-bar">
</div>
</div>
<div class="titlebar"><a href="/"><img decoding="async" src="/img/menu-logo.jpg" alt="mpls.com" width="95" height="18"></a> | <a href="/">BUSINESS</a> | <a href="/">COOL SPOTS</a> | <a href="/">EXPOSURE</a> | <a href="/">KIDS</a> | <a href="/">MEDIA</a> | <a href="/">NEWS</a> | <a href="/">POLITICS</a> | <a href="/">SPORTS</a> | <a href="/">WEATHER</a> | <a href="/">SEARCH</a></div>
<p><!-- Gallery Grid --></p>
<div class="exposure-grid">
<div class="row"><a href="/"><img decoding="async" src="/img/01.jpg" alt="Exposure 01"></a><br>
<a href="/"><img decoding="async" src="/img/02.jpg" alt="Exposure 02"></a><br>
<a href="/"><img decoding="async" src="/img/03.jpg" alt="Exposure 03"></a><br>
<a href="/"><img decoding="async" src="/img/04.jpg" alt="Exposure 04"></a></div>
<div class="row"><a href="/"><img decoding="async" src="/img/12.jpg" alt="Exposure 12"></a><br>
<img decoding="async" class="mid-banner" src="/img/ne_words.gif" alt="Northern Exposure Text"><br>
<a href="/"><img decoding="async" src="/img/05.jpg" alt="Exposure 05"></a></div>
<div class="row info-row"><a href="/"><img decoding="async" src="/img/11.jpg" alt="Exposure 11"></a>
<div class="info-box">
<p>Click on an image for a larger view and description.</p>
<p>Visit <a href="https://heinrich.mpls.com/" target="_blank" rel="noopener">Photographer George Heinrich's website</a> for more dramatic photography and studio portfolio.</p>
<p><img decoding="async" src="/img/mpls.gif" alt="mpls.com logo" width="95" height="18"></p>
</div>
<p><a href="/"><img decoding="async" src="/img/06.jpg" alt="Exposure 06"></a></p>
</div>
<div class="row"><a href="/"><img decoding="async" src="/img/10.jpg" alt="Exposure 10"></a><br>
<a href="/"><img decoding="async" src="/img/09.jpg" alt="Exposure 09"></a><br>
<a href="/"><img decoding="async" src="/img/08.jpg" alt="Exposure 08"></a><br>
<a href="/"><img decoding="async" src="/img/07.jpg" alt="Exposure 07"></a></div>
</div>
<p><!-- Footer --></p>
<hr class="divider">
<div class="footer">
<p><small>WEBSITE DESIGNED &amp; MAINTAINED BY <a href="https://digital.mpls.com/" target="_blank" rel="noopener">DIGITAL CONCEPTS</a>, MINNEAPOLIS, MINNESOTA</small></p>
<hr class="mini-divider">
<p><small>  1997-2000 DIGITAL CONCEPTS &amp; HEINRICH PHOTOGRAPHY. All rights reserved.</small></p>
</div>
</div>
</LegacyLayout>









