---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Hypothermia - MP.LS">
<div class="mpls-legacy">
<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/legacy/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>
<div class="wp-block-group has-base-background-color has-background is-layout-constrained wp-container-core-group-is-layout-41c06ba8 wp-block-group-is-layout-constrained">
<div class="titlebar"><a href="/legacy/"><img decoding="async" src="/img/menu-logo.jpg" alt="mpls.com" width="95" height="18"></a> | <a href="/legacy/">BUSINESS</a> | <a href="/legacy/">COOL SPOTS</a> | <a href="/legacy/">EXPOSURE</a> | <a href="/legacy/">KIDS</a> | <a href="/legacy/">MEDIA</a> | <a href="/legacy/">NEWS</a> | <a href="/legacy/">POLITICS</a> | <a href="/legacy/">SPORTS</a> | <a href="/legacy/">WEATHER</a> | <a href="/legacy/">SEARCH</a></div>



<div class="wp-block-group is-content-justification-center is-nowrap is-layout-flex wp-container-core-group-is-layout-23441af8 wp-block-group-is-layout-flex">
<figure class="wp-block-image size-full is-resized"><img fetchpriority="high" decoding="async" width="300" height="197" src="/img/hypo.jpg" alt="" class="wp-image-582" style="object-fit:cover;width:394px;height:auto"></figure>



<div class="wp-block-group wp-container-content-29dca9c1 is-vertical is-layout-flex wp-container-core-group-is-layout-fe9cc265 wp-block-group-is-layout-flex">
<p><strong>How do you get hypothermia?</strong></p>



<p>During Hypothermia your blood temperature drops to 95 to 82 degrees Fahrenheit.</p>



<p>When you have Hypothermia, your body slows down and your body doesn't need much oxygen.</p>



<p>During Hypothermia your blood circulation can be stopped for a hour or longer than that. You can get hypothermia from being outside in bone chilling weather or water for a long time.</p>



<p>If you have hypothermia what is best to do is take off all your wet clothes and wrap up in lots of blankets, slowly by layers. Put the blankets on but not too fast.</p>



<p>You usually get Hypothermia from cold water sometimes from cold air.</p>
</div>
</div>



<p class="has-text-align-center" style="font-size:10px"><a href="/legacy/" data-type="page" data-id="554">HomePage </a>| <a href="/legacy/" data-type="page" data-id="570">Water Skiing</a> | <a href="/legacy/" data-type="page" data-id="561">Swimming</a>| <a href="/legacy/" data-type="page" data-id="581">Hypothermia</a> | <a href="/legacy/" data-type="page" data-id="586">Ice Safety</a> | <a href="/legacy/" data-type="page" data-id="592">Boating Safety</a> | <a href="/legacy/" data-type="page" data-id="605">Ranger Hansen</a></p>
</div>
</div>
</LegacyLayout>









