---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout title="Kid Kaija @ mpls.com">
<div class="mpls-legacy">
<LegacyHeader showNav />


<div class="kid-content-container"><table border="0" cellpadding="10" cellspacing="0" width="600">
<tr>
<td valign="TOP" width="54"><img align="BOTTOM" height="480" naturalsizeflag="3" src="/img/hotair.gif" width="40"></td>
<td valign="TOP" width="545">
<p align="CENTER"><img align="TOP" height="81" src="/img/kkhead.gif" width="270"><br>
<font face="Verdana,Helvetica,Arial" size="3">Nine-year-old Kaija Hansen 
          welcomes you to her site. Kaija designed this page to share some links 
          to her favorite sites on the World Wide Web:</font></p>
<p>
<br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://nyelabs.kcts.org/">Bill 
        Nye the Science Guy's Nye Labs Online</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.childrenstheatre.org/">Children's 
        Theatre Company - Mpls</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.disney.com/">Disney 
        - Disney.com Home Page</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.toysrus.com/funzone/colorbook.html">Funzone 
        - Coloring Book</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="/">Sports 
        Illustrated For Kids</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.nick.com/">Natalie's 
        Backseat Traveling Web Show Intro</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.nickelodeon.co.uk/">Nickelodeon 
        World Wide Web Page</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.onceuponatree.com/">Once 
        Upon a Tree - Welcome</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.petz.com/adoplist.htm">Petz 
        Adoption Kit</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.americangirl.com/">Pleasant 
        Company for American Girls</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.purple-moon.com/cb/laslink/pm?stat+rw_main">Purple 
        Moon - Rockett's World</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.santaclaus.com/">Santa 
        Claus' Homepage</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.ty.com/">Ty 
        Inc. - The Official Homepage of the Beanie Babies</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.disney.com/DisneyPictures/Flubber/time_to_make/game1.html">Walt 
        Disney's Flubber</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.yahooligans.com/">Yahooligans!</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.youruleschool.com/">You 
        Rule School</a></font><br>
<br>
<hr align="LEFT" width="60%">
<font face="Verdana,Helvetica,Arial" size="3">Kaija loves her aquarium 
        fish. The following are links<br>
        to sites with information about fish and fish care:</font>
<p><font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.aquariacentral.com/">Aquaria 
          Central</a><br>
<a href="https://web.archive.org/web/19990428020131/http://www.junglenet.com/linkfarm/fish/"><font face="Verdana,Helvetica,Arial" size="3">Aquarium 
          &amp; Fish Stuff @ The Link Farm</font></a><font face="Verdana,Helvetica,Arial" size="3"><br>
<a href="https://web.archive.org/web/19990428020131/http://netvet.wustl.edu/fish.htm"><font face="Verdana,Helvetica,Arial" size="3">Electronic 
          Zoo / NetVet - Fish Page</font></a></font></font>
</p><p> 
        <font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3">
<hr align="LEFT" width="60%"></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p>
<p><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3">The 
          following is a link to Kaija's school report on Water Safety: </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p>
<font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><p><a href="/kid/water/watersafety/">Water Safety Report</a>
</p></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></td>
</tr>
</table></div>

<div class="kid-footer-dividers"><hr width="600">
<hr width="600">
<LegacyFooter />
</div>
<p align="CENTER">
</div>
</LegacyLayout>


















