---
// @ts-nocheck
import LegacyLayout from "../../../layouts/LegacyLayout.astro";
---
<LegacyLayout title="Kid Kaija @ mpls.com">
<div class="mpls-legacy">
<center>
<table border="0" width="623">
<tr>
<td width="621">
<center>
<img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
<table border="0" cellpadding="0" cellspacing="0" width="600">
<tr>
<td align="LEFT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
Minnesota USA</font>
</center>
</td>
<td width="340"><a href="/legacy/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
</td>
<td align="RIGHT" valign="CENTER" width="130">
<center>
<font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
On The Internet</font>
</center>
</td>
</tr>
</table>
<img height="10" src="/img/dividerline.gif" width="600">
</center>
</td>
</tr>
</table>
</center>
<center><p><img border="0" height="20" src="/img/titlebar.gif" usemap="#titlebar" width="600">
</p>
</center>
<center><table border="0" cellpadding="10" cellspacing="0" width="600">
<tr>
<td valign="TOP" width="54"><img align="BOTTOM" height="480" naturalsizeflag="3" src="/img/hotair.gif" width="40"></td>
<td valign="TOP" width="545">
<p align="CENTER"><img align="TOP" height="81" src="/img/kkhead.gif" width="270"><br>
<font face="Verdana,Helvetica,Arial" size="3">Nine-year-old Kaija Hansen 
          welcomes you to her site. Kaija designed this page to share some links 
          to her favorite sites on the World Wide Web:</font></p>
<p></p><p>
<br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://nyelabs.kcts.org/">Bill 
        Nye the Science Guy's Nye Labs Online</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.childrenstheatre.org/">Children's 
        Theatre Company - Mpls</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.disney.com/">Disney 
        - Disney.com Home Page</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.toysrus.com/funzone/colorbook.html">Funzone 
        - Coloring Book</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="/legacy/">Sports 
        Illustrated For Kids</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.nick.com/">Natalie's 
        Backseat Traveling Web Show Intro</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.nickelodeon.co.uk/">Nickelodeon 
        World Wide Web Page</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.onceuponatree.com/">Once 
        Upon a Tree - Welcome</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.petz.com/adoplist.htm">Petz 
        Adoption Kit</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.americangirl.com/">Pleasant 
        Company for American Girls</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.purple-moon.com/cb/laslink/pm?stat+rw_main">Purple 
        Moon - Rockett's World</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.santaclaus.com/">Santa 
        Claus' Homepage</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.ty.com/">Ty 
        Inc. - The Official Homepage of the Beanie Babies</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.disney.com/DisneyPictures/Flubber/time_to_make/game1.html">Walt 
        Disney's Flubber</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.yahooligans.com/">Yahooligans!</a><br>
<font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.youruleschool.com/">You 
        Rule School</a></font><br>
<br>
<hr align="LEFT" width="60%">
<font face="Verdana,Helvetica,Arial" size="3">Kaija loves her aquarium 
        fish. The following are links<br>
        to sites with information about fish and fish care:</font>
<p><font face="Verdana,Helvetica,Arial" size="3"><a href="https://web.archive.org/web/19990428020131/http://www.aquariacentral.com/">Aquaria 
          Central</a><br>
<a href="https://web.archive.org/web/19990428020131/http://www.junglenet.com/linkfarm/fish/"><font face="Verdana,Helvetica,Arial" size="3">Aquarium 
          &amp; Fish Stuff @ The Link Farm</font></a><font face="Verdana,Helvetica,Arial" size="3"><br>
<a href="https://web.archive.org/web/19990428020131/http://netvet.wustl.edu/fish.htm"><font face="Verdana,Helvetica,Arial" size="3">Electronic 
          Zoo / NetVet - Fish Page</font></a></font></font>
</p><p> 
        <font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3">
<hr align="LEFT" width="60%"></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p>
<p><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3">The 
          following is a link to Kaija's school report on Water Safety: </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></p>
<font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><font face="Verdana,Helvetica,Arial" size="3"><p><a href="/legacy/kid/water/watersafety/">Water Safety Report</a>
</p></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></td>
</tr>
</table></center>
<p></p>
<center><hr width="600">
<hr width="600">
<center>
<p><font face="Verdana,Helvetica,Arial" size="-1"><a href="/legacy/"><img align="MIDDLE" alt="mpls.com" border="0" height="18" src="/img/mpls.gif" width="95"></a><a href="/legacy/order/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2"><br>
      ADVERTISE </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/legacy/business/"><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">BUSINESS 
      </font></a></font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">| 
      <a href="/legacy/cool/">COOL SPOTS</a> | <a href="/legacy/exposure/">NORTHERN EXPOSURE</a> | <a href="/legacy/kid/">KIDS</a> 
      | <a href="/legacy/media/">MEDIA</a> | <a href="/legacy/news/">NEWS 
      </a> | <a href="/legacy/politics/">POLITICS</a> | <a href="/legacy/sports/">SPORTS</a> 
      | <a href="/legacy/weather/">WEATHER</a> | <a href="/legacy/search/">SEARCH FARM</a></font> </p>
</center>
<center>
<hr width="468">
<font face="Geneva, Arial, Helvetica, sans-serif" size="-2">WEBSITE DESIGNED 
    &amp; MAINTAINED BY <a href="https://web.archive.org/web/19990428020131/http://www.digital.mpls.com/">DIGITAL CONCEPTS,</a> 
    MINNEAPOLIS, MINNESOTA </font><font face="Verdana,Futura,Helvetica,Arial">
<hr width="468">
</font><font face="Geneva, Arial, Helvetica, sans-serif" size="-2">The contents 
    of this website are   Copyright 1997-1999 DIGITAL CONCEPTS. All rights 
    reserved.<br>
</font>
</center>
</center>
<map name="titlebar">
<area coords="554,0,599,19" href="/legacy/search/" shape="rect" target="_top">
<area coords="498,0,552,19" href="/legacy/weather/" shape="rect" target="_top">
<area coords="450,0,495,19" href="/legacy/sports/" shape="rect" target="_top">
<area coords="397,0,448,19" href="/legacy/politics/" shape="rect" target="_top">
<area coords="358,0,392,19" href="/legacy/news/" shape="rect" target="_top">
<area coords="316,0,354,19" href="/legacy/media/" shape="rect" target="_top">
<area coords="281,0,312,19" href="/legacy/kid/" shape="rect" target="_top">
<area coords="220,0,278,19" href="/legacy/exposure/" shape="rect" target="_top">
<area coords="151,0,218,19" href="/legacy/cool/" shape="rect" target="_top">
<area coords="92,0,148,19" href="/legacy/business/" shape="rect" target="_top">
<area coords="0,0,90,19" href="/legacy/" shape="rect" target="_top">
<area href="/legacy/" shape="default">
</map>
<p align="CENTER">
</div>
</LegacyLayout>















