---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout title="Ranger Hansen - MP.LS">
<div class="mpls-legacy">
<LegacyHeader />

<div class="wp-block-group has-base-background-color has-background is-layout-constrained wp-container-core-group-is-layout-41c06ba8 wp-block-group-is-layout-constrained">
<div class="titlebar"><a href="/"><img decoding="async" src="/img/menu-logo.jpg" alt="mpls.com" width="95" height="18"></a> | <a href="/">BUSINESS</a> | <a href="/">COOL SPOTS</a> | <a href="/">EXPOSURE</a> | <a href="/">KIDS</a> | <a href="/">MEDIA</a> | <a href="/">NEWS</a> | <a href="/">POLITICS</a> | <a href="/">SPORTS</a> | <a href="/">WEATHER</a> | <a href="/">SEARCH</a><LegacyFooter />
</div>



<div class="wp-block-group is-content-justification-center is-nowrap is-layout-flex wp-container-core-group-is-layout-ff976b70 wp-block-group-is-layout-flex">
<div class="wp-block-group wp-container-content-29dca9c1 is-vertical is-layout-flex wp-container-core-group-is-layout-2d729e81 wp-block-group-is-layout-flex">
<figure class="wp-block-image size-full"><img fetchpriority="high" decoding="async" width="275" height="373" src="/img/denny.jpg" alt="" class="wp-image-607"></figure>
</div>



<div class="wp-block-group wp-container-content-29dca9c1 is-vertical is-content-justification-center is-layout-flex wp-container-core-group-is-layout-ce155fab wp-block-group-is-layout-flex">
<figure class="wp-block-image size-full"><img decoding="async" width="275" height="371" src="/img/card.gif" alt="" class="wp-image-606"></figure>
</div>
</div>



<p class="has-text-align-center" style="font-size:10px"><a href="/" data-type="page" data-id="554">HomePage </a>| <a href="/" data-type="page" data-id="570">Water Skiing</a> | <a href="/" data-type="page" data-id="561">Swimming</a>| <a href="/" data-type="page" data-id="581">Hypothermia</a> | <a href="/" data-type="page" data-id="586">Ice Safety</a> | <a href="/" data-type="page" data-id="592">Boating Safety</a> | <a href="/" data-type="page" data-id="605">Ranger Hansen</a></p>
</div>



<p></p>
</div>
</LegacyLayout>












