---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout title="Swimming - MP.LS">
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="wp-block-group has-base-background-color has-background is-layout-constrained wp-container-core-group-is-layout-41c06ba8 wp-block-group-is-layout-constrained">
</div>



<figure class="wp-block-image aligncenter size-full"><img decoding="async" width="200" height="75" src="/img/swim1.gif" alt="" class="wp-image-562"></figure>



<p><strong>How can you be safe while you're swimming?</strong></p>



<p>Let's say you fall into the water current and you can't get back to shore.</p>



<p>What you want to do is: float on your back for about four to five minutes, then swim with the river current but slanted at an angle to the outside to the shore. The trick is to get enough energy to swim back to shore.</p>



<p>Here are some other helpful tips to remember while you're swimming.</p>



<p>If you're swimming on a lake or beach watch out for boaters, water skiers, kayaks and canoes or other dangers when you swim.</p>



<p>Swim with a adult even if you can swim fairly well.</p>



<p>Use the buddy system while you're swimming.</p>



<p>Even if the water looks calm don't go into deep water with out a P.F.D. (a personal flotation device or as you call it a life jacket).</p>



<p class="has-text-align-center" style="font-size:10px"><a href="/" data-type="page" data-id="554">HomePage </a>| <a href="/" data-type="page" data-id="570">Water Skiing</a> | <a href="/" data-type="page" data-id="561">Swimming</a>| <a href="/" data-type="page" data-id="581">Hypothermia</a> | <a href="/" data-type="page" data-id="586">Ice Safety</a> | <a href="/" data-type="page" data-id="592">Boating Safety</a> | <a href="/" data-type="page" data-id="605">Ranger Hansen</a></p>
</div>

<LegacyFooter />

</div>
</LegacyLayout>












