---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";
---
<LegacyLayout title="Water Skiing - MP.LS">
<div class="mpls-legacy">
<LegacyHeader showNav />

<div class="wp-block-group has-base-background-color has-background is-layout-constrained wp-container-core-group-is-layout-41c06ba8 wp-block-group-is-layout-constrained">
</div>



<div class="wp-block-group is-content-justification-center is-nowrap is-layout-flex wp-container-core-group-is-layout-23441af8 wp-block-group-is-layout-flex">
<figure class="wp-block-image size-full is-resized"><img fetchpriority="high" decoding="async" width="361" height="287" src="/img/boat.jpg" alt="" class="wp-image-571" style="object-fit:cover;width:394px;height:auto"></figure>



<div class="wp-block-group wp-container-content-29dca9c1 is-vertical is-layout-flex wp-container-core-group-is-layout-fe9cc265 wp-block-group-is-layout-flex">
<p><strong>How can you be safe while you're water skiing?</strong></p>



<p>Make sure that you have the right equipment you need. Don't replace other things with the right thing you need.</p>



<p>Wear a P.F.D. (Personal Flotation Device, sometimes called a life jacket) and if you fall off the skis don't panic.</p>



<p>The boat that is pulling the person needs a driver who is 16 years of age and has a license to drive a boat.</p>



<p>You need at least three people to water ski. One, a driver for the boat. Two, a person to watch the skier. Three, a person that water skis.</p>
</div>
</div>



<p class="has-text-align-center" style="font-size:10px"><a href="/" data-type="page" data-id="554">HomePage </a>| <a href="/" data-type="page" data-id="570">Water Skiing</a> | <a href="/" data-type="page" data-id="561">Swimming</a>| <a href="/" data-type="page" data-id="581">Hypothermia</a> | <a href="/" data-type="page" data-id="586">Ice Safety</a> | <a href="/" data-type="page" data-id="592">Boating Safety</a> | <a href="/" data-type="page" data-id="605">Ranger Hansen</a></p>
</div>

<LegacyFooter />

</div>
</LegacyLayout>












